/* 회원가입 페이지 */

@media ( max-width: 1024px ) {
    #signup_div {
        grid-template-columns: 5% 51% 15% 50% !important;
    }

    #signup_submit_button {
        margin: 3% 20% 4% 21% !important;
    }

    #signup_complate_div {
        margin-top: 10%;
    }
}

@media ( max-width: 768px ) {
    #signup_div {
        grid-template-columns: 0% 56% 15% 50% !important;
    }

    .alert {
        font-size: 12px !important;   
    }

    #signup_complate_div {
        margin-top: 13%;
    }
}

@media ( max-width: 743px ) {
    #main_login_ul {
        margin-top: 28px !important;
        line-height: 30px !important;
    }
  }

  @media ( max-width: 720px ) {
    #main_header_right #main_login_ul{
        margin-top: 10px !important;
    }

    #signup_div div ul li input { 
        width: 75% !important;
    }

    #signup_info_div ul {
        padding-left: 0px;
    }
  }

  @media ( max-width: 502px ) {
    #signup_argee_checkbox_div label { font-size: 12px !important; }
  }

@media ( max-width: 467px ) {
    #main_header {
        display: grid;
        grid-template-columns: 10% 30% 60% !important;
    }

    #main_login_ul li {
        float: center !important;
        margin-left: 30px !important;
    }

    #main_header_right #main_login_ul{
        margin-top: 28px !important;
    }
  }

  @media ( max-width: 426px ) {

    #body_div {
        display: grid;
        grid-template-columns: 5% 90% 5% !important;
    }

    #signup_div {
        margin-left: 5% !important;
        grid-template-columns: 0% 100% !important;
    }

    #signup_div div ul li input { width: 75% !important; }
    #signup_center_height_line { display: none; }
    #signup_agree_div { width: 350px; }
    #signup_agree_div textarea { height: 150px !important; }

    #signup_submit_button {
        margin: 80% 20% 4% 15% !important;
    }

    #signup_complate_div {
        margin-top: 18%;
    }
  }

  @media ( max-width: 386px ) {
    #signup_agree_div {
        width: 300px;
        margin-left: 10px;
    }

    #signup_submit_button {
        margin: 90% 20% 4% 0% !important;
    }
  }

  @media ( max-width: 376px ) {
    #signup_submit_button {
        margin: 90% 20% 4% 15% !important;
    }

    #signup_complate_div {
        margin-top: 20%;
    }

    #login_div #login_close_icon { margin: -60px 0px 0px 135px; }
  }

  @media ( max-width: 342px ) {
    #main_login_ul {
        line-height: 30px !important;
    }

    #signup_agree_div {
        width: 250px;
        margin-left: 20px;
    }
  }

  @media ( max-width: 320px ) {
    #main_header #main_header_center #main_title {
        margin : 15px 0px 20px 0px;
    }

    #main_header #main_header_right #main_login_ul {
        margin-top: 13px !important;
    }

    #signup_div div ul li input { 
        width: 80% !important;
    }

    #signup_submit_button {
        margin: 100% 0% 4% 10% !important;
    }

    #login_div #login_close_icon { margin: -60px 0px 0px 115px; }
  }

  @media ( max-width: 260px ) {
      body {
          min-width: 260px !important;
      }
  }