/* 회원가입 페이지 */

@media ( max-width: 1550px ) {
    #my_page_select_div { grid-template-columns: 15% auto 15% !important; }

}

@media ( max-width: 1440px ) {
    #header_other_div {  grid-template-columns: 20% 35% 45% !important;}
    #header_search_div input { width: 60% !important; }
    
    #modify_user_email_input input { width: 50% !important; }
}

@media ( max-width: 1240px ) {
    #my_page_select_div { grid-template-columns: 10% auto 10% !important; }
    #modify_user_div_grid { grid-template-columns: 20% auto 0% !important; }
    /* #modify_user_info_ul li { margin: 0px 10% 0px 15%; } */
    /* #modify_user_info_ul li input { width: 35% !important; } */

    /* #modify_user_email_grid { grid-template-columns: 40% 10% auto !important; } */
    /* #modify_user_email_grid div input { width: 80% !important; } */

    #modify_user_submit_div { text-align: center; }
    /* #modify_user_submit_div input { width: 40% !important; } */

    #daum_host_api { border: solid 2px #ababab; }
}

@media ( max-width: 1024px ) {
    /* #signup_submit_button { margin: 3% 20% 4% 21% !important; } */

    #signup_info_div { margin-right: 10px !important; margin-left: 10px !important; }
    #signup_agree_div { margin-left: 40px !important; }

    #signup_complate_div { margin-top: 10%; }
    #header_other_div { grid-template-columns: 25% 35% 40% !important; }
    #header_search_div input { width: 60% !important; }
    #my_page_profile_div { grid-template-columns: 2% 30% auto !important; }

    #modify_user_div_grid { grid-template-columns: 10% auto 0% !important; }
    #modify_user_email_grid { grid-template-columns: 50% 10% auto !important; }
    #modify_user_phone_div .modify_user_phone_input { width: 15% !important; text-align: center; }

    #modify_user_email_input input { width: 80% !important; }
    /* #daum_host_api { margin : 0px 10% 70px -5% !important; } */
    /* #modify_user_submit_div { margin-left: 30px !important; width: 80%;} */
  }

@media ( max-width: 991px ) {
    #header_myPage_div { text-align: center; }
}

@media ( max-width: 880px ) {
    #body_div { grid-template-columns: 5% 90% 5% !important; }
    #body_div_left { border-right : none !important }
    #body_div_right { border-left : none !important }

    #signup_agree_div { margin-left: 60px !important; }


    /* #modify_user_submit_div { margin-left: 10px !important; width: 85%;} */
}

@media ( max-width: 831px ) {
    #main_header_div { grid-template-columns: 20% 40% 40% !important; }
}

@media ( max-width: 780px ) {
    #header_search_div input { width: 75% !important; }
    #header_myPage_div { font-size: 12px !important; }
}

@media ( max-width: 768px ) {
    /* #signup_div_grid { grid-template-columns: 4% 43% 5% 2% auto !important; } */
    .alert { font-size: 12px !important; }
    #signup_complate_div { margin-top: 13%; }
    #header_other_div { grid-template-columns: 25% 35% 40% !important; }
    #header_search_div input { width: 70% !important; }
    #header_myPage_div { font-size: 12px !important; text-align: center; }
    #my_page_select_div { grid-template-columns: 6% auto 6% !important; }
}

@media ( max-width: 743px ) {
  #signup_email_li div { grid-template-columns: 45% auto; }

    /* #main_login_ul {
        margin-top: 28px !important;
        line-height: 30px !important;
    } */
  }

  @media ( max-width: 720px ) {
    #main_header_div { grid-template-columns: 10% 40% 50% !important; }

    #signup_div_grid div ul li input {  width: 75% !important; }
    /* #signup_div_grid #signup_email_li input { width : 35% !important; } */

    /* #signup_info_div ul { padding-left: 0px; } */

    #modify_user_div_grid { grid-template-columns: 5% auto 0% !important; }

  }

  @media ( max-width: 654px ) {

    #signup_info_div { margin-right: 0px !important; margin-left: 0px !important; }
    #signup_agree_div { margin-left: 40px !important; margin-right: 0px !important; }

    #body_div { grid-template-columns: 0% 100% 0% !important; }
    #header_other_div { grid-template-columns: 45% 55% 0% !important; }
    #header_myPage_div { display: none !important; }
    #main_header #header_other_mobile_div { display: grid !important; }
    #my_page_profile_div { grid-template-columns: 0% 15% auto !important; }

    #modify_user_div_grid { grid-template-columns: 5% auto 0% !important; }
    #signup_complate_div { margin-top: 13% !important; }

    .my_page_info_title_div { text-align: center;}
    .my_page_info_title_div div p { font-size: 15px !important; }

  #signup_email_li div { grid-template-columns: 40% auto; }

  }

  @media ( max-width : 600px ) {
    .modify_user_responsive_div input { width: 40% !important; }
    #modify_user_email_grid input { width: 20% !important; }

    #signup_div_grid { display: block !important; }
    #signup_info_div { border-right: none !important; }
    #signup_agree_div { margin-left: 0px !important; padding-left: 40px; margin-top: 60px !important; border-top: solid 1px #ababab; border-bottom: solid 1px #ababab; padding-bottom: 40px; }
    #signup_agree_div h4 { margin-top: 50px; }
    #signup_agree_div textarea { min-height: 250px; }

    #signup_title_div { border-bottom: solid 1px #ababab; padding-bottom: 30px; }

    #signup_div_grid div ul li input { width: 85% !important; }
  #signup_email_li div { grid-template-columns: 60% auto; }

    /* #signup_div_grid #signup_email_li input { width : 58% !important; } */

  }

  @media ( max-width: 570px ) {
    #main_header_div { grid-template-columns: 5% 40% auto !important; }
    #user_thumbnail_div #user_thumbnail_img { width: 100px; height: 100px }

    #modify_user_div_grid { grid-template-columns: 3% auto 0% !important; padding-left: 20px !important; }
    #signup_complate_div #signup_complate_select_div { grid-template-columns: 30% 30% 40% !important; }
  }

  @media ( max-width: 545px ) {
    #my_page_profile_div { grid-template-columns: 0% 20% auto !important; }
    #my_page_div #my_page_profile_div { padding : 0px 0px 10px 0px; }

    #user_thumbnail_div { margin-left: 15px; }
    #user_thumbnail_div #user_thumbnail_img { width: 90px; height: 90px; }
  }

  @media ( max-width: 502px ) {
    #main_header_div { grid-template-columns: 5% 40% auto !important; }
    #signup_argee_checkbox_div label { font-size: 12px !important; }
    #header_other_div { grid-template-columns: 40% 60% 0% !important; }
    .my_page_info_title_div div p { font-size: 15px !important; }
    #my_page_profile_div { grid-template-columns: 0% 23% auto !important; }

    #modify_user_div_grid { grid-template-columns: 0% auto 0% !important; }
    #modify_user_email_grid { grid-template-columns: 60% 10% auto !important; }
    
    #modify_user_div_grid, #modify_user_info_ul { padding-left: 0 !important; }
    #daum_host_api { margin : 0px 0 70px 0 !important; }

    #signup_complate_div #signup_complate_select_div { grid-template-columns: 25% 25% 50% !important; }
  }

@media ( max-width: 467px ) {
    #main_header_div { grid-template-columns: 0% 45% auto !important; }
    #main_login_ul li { float: center !important; margin-left: 30px !important; }
    #main_header_right #main_login_ul{ margin-top: 28px !important; }
    .my_page_info_title_div div p { font-size: 14px !important; }

    /* #user_thumbnail_div #user_thumbnail_img { width: 90px !important; height: 90px !important; margin-top: 8px; } */
    #my_page_profile_div { grid-template-columns: 0% 25% auto !important; }

    #header_other_mobile_div { grid-template-columns: 0% 33% 34% 33% 0% !important; }
    #my_page_select_div { grid-template-columns: 0% auto 0% !important; font-size: 14px; }
    .my_page_icon_img { background-size: 60% !important; }

    /* #modify_user_host_div { width: 70% !important; } */
    #modify_user_info_ul { padding-left: 10px; }
    #signup_email_li div { grid-template-columns: 55% auto; }

    /* #signup_div_grid #signup_email_li input { width : 50% !important; } */

}

  @media ( max-width: 435px ) {
    #my_page_profile_div { grid-template-columns: 0% 28% auto !important; }

  }

  @media ( max-width: 426px ) {
    #body_div { display: grid; grid-template-columns: 0% 100% 0% !important; }
    #signup_agree_div { padding-left: 30px !important; }

    #signup_complate_div { margin-top: 13% !important; }

    #header_other_mobile_div { font-size: 13px !important; }
    #main_header_div { grid-template-columns: 0% 45% auto !important; margin-left: 10px !important;}

    #my_page_user_id, #my_page_user_nick { display: none; }
    #my_page_profile_div { grid-template-columns: 0% 28% auto !important; }
    .my_page_info_title_div { grid-template-columns: 50% 50% !important; }
    #user_mobile_id_div { display: block !important; font-size: 14px; }

    #modify_user_div_grid { grid-template-columns: 0% auto 0% !important; }
    #modify_user_info_ul { padding: 0px 0px 0px 0px; }
    #modify_user_phone_div .modify_user_phone_input { width: 20% !important; text-align: center; }
    #modify_user_phone_div { margin-right: 0px !important; }

    /* #modify_user_info_ul li input { width: 50% !important; } */
    #modify_user_email_grid { grid-template-columns: 55% 10% auto !important; }
    #modify_user_email_grid input { width: 20% !important; }

    #signup_complate_div #signup_complate_select_div { display: block !important; margin-top: 30px !important; text-align: center; font-size: 14px !important;}
    #signup_complate_select_div div { border: solid 1px #ababab; line-height: 30px; margin: 20px 40px 0px 40px; border-radius: 5px; padding: 5px 0px 5px 0px; }

    #login_div div #login_close_icon { margin-left: 345px !important; }
  }

  @media ( max-width: 386px ) {
    #header_category_div img { width : 30px !important; margin-top: 10px !important;}
    #header_category_div b { font-size: 14px !important; margin-top: 1px; }

    #my_page_select_div { display: block !important; font-size: 14px; }
    .my_page_icon_img { background-size: 60% !important; background-position-y: 70% !important; }
  
    /* #modify_user_info_ul li { margin-left: 40px; } */
    /* #modify_user_host_div { width: 80% !important; } */
    
    #my_page_profile_div { grid-template-columns: 0% 35% auto !important; }

    #signup_email_li div { grid-template-columns: 50% auto; }

    #login_div div #login_close_icon { margin-left: 325px !important; }
    /* #signup_div_grid #signup_email_li input { width : 42% !important; } */

  }

  @media ( max-width: 376px ) {
    #header_other_div { grid-template-columns: 50% 50% 0% !important; }
    #main_header_div { grid-template-columns: 0% 60% auto !important;}
    #main_header_right #main_login_ul { line-height: 30px !important; margin-top: 10px !important; font-size: 13px; }
    #header_other_mobile_div { grid-template-columns: 0% 33% 34% 33% 0% !important; }

    #signup_info_div ul { padding-left: 30px ; }
    #signup_div_grid #signup_info_div #signup_email_custom_input_div input[name=email_custom_input]
    { width: 75% !important; }
    /* #main_login_ul div li { margin-top: -16px; line-height: 50px; } */

    .my_page_select_grid_div { grid-template-columns: 33% 33% 34% !important; }
    #my_page_select_div { padding : 0px !important; }
    .my_page_icon_img { background-size: 60% !important; }

    #login_div #login_button_div input { width: 85% !important; margin-left: 28px !important; }
    
  }

  @media ( max-width: 370px ) {
    .login_form_grid { grid-template-columns: 23% auto !important; }
    .login_form_grid div { text-align: center; }

    .login_other_title_div { text-align: right !important; }
    .login_form_grid input { margin-left: 0px !important; }
    /* .login_form_grid input { text-align: left !important;  width: 60% !important; } */
  }

  @media ( max-width: 342px ) {
    #main_login_ul { line-height: 30px !important; }
    /* #signup_agree_div { width: 250px; margin-left: 20px; } */

    /* #modify_user_info_ul li { margin-left: 20px !important; } */
    #modify_user_email_grid { grid-template-columns: 55% 10% auto !important; }

    #my_page_profile_div { grid-template-columns: 0% 40% auto !important; }

    #signup_email_li div { grid-template-columns: 45% auto; }

    #signup_info_div ul { padding-left: 25px !important; }

    /* #signup_div_grid #signup_email_li input { width : 35% !important; } */
    #login_div div #login_close_icon { margin-left: 300px !important; }

    #login_div #login_button_div input { width: 77% !important; margin-left: 45px !important; }
    .login_form_grid { grid-template-columns: 28% auto !important; } 
    .login_form_grid input { width: 75% !important; margin-left: -25px !important; }
    #login_button_div div u { margin-left: -10px !important; }
  }

  @media ( max-width: 320px ) {
    #main_header_div { grid-template-columns: 0% 60% auto !important; height: 80px; }
    #main_header_center { text-align: left !important; margin: 0px 0px 0px 25px; }
    #main_header_div #main_header_center #main_title { margin : 27px 0px 20px 0px; }
    #main_header_Div #main_header_right { padding: 5px 0px 15px 0px !important; }
    #main_header_div #main_header_right #main_login_ul { margin-top: 10px !important; padding : 0px 0px 0px 0px !important }
    #header_other_mobile_div { grid-template-columns: 0% 35% 30% 35% 0% !important; }

    #admin_icon { margin: -44px 0px 0px 125px !important; }
    #login_div #login_close_icon { margin: -60px 0px 0px 115px; }

    body {
        min-width: 320px !important;
    }
  }

  @media ( max-width: 260px ) {

  }