#goods_category_info_div { padding: 15px 0px 15px 25px; margin: 10px 20px 0px 20px; }
#goods_category_info_div u { text-decoration: none; cursor: pointer; font-size: 14px; }

#goods_title_div { margin : 20px 5% 0px 5% !important; }
#goods_contents_grid_div { display: grid; grid-template-columns: 5% 30% 60% 5%; margin: 20px 0px 0px 0px; padding-bottom: 75px; border-bottom: solid 2px black; }
#goods_thumbnail_div div { padding: 5px; width: -webkit-fill-available; min-height: 300px; border: solid 1px #ababab; background-repeat: no-repeat; background-size: contain; background-position-x: center; background-position-y: center; }

#goods_detail_contents_div { margin-left: 10px; }
/* #goods_price_and_like_div { display: grid; grid-template-columns: 80% 20%; } */
#goods_price_div { margin-left: 10%; margin-top: -20px; }
#goods_price_div h3 { margin-bottom: 5px; margin-left: -20px; line-height: 25px; }
#goods_price_div h2 { margin-top: 0px; }

#goods_detail_not_responsive { margin-left: 30px; }
#goods_like_div { position: absolute; margin: -30px 0px 0px 35%; }
#goods_like_div img { width: 40px; }

.like_alert { position: absolute; border: solid 2px black; text-align: center; padding: 5px; background-color: white; margin: 20px 0px 0px -55px; font-weight: bold; font-size: 14px; width: 150px; cursor: default; }
#like_on_alert { color: #ea97ad; }

#goods_price_and_num_div { margin: 45px 0px 0px 40px; font-size: 11px; }
/* #goods_price_and_num_grid_div { display: grid; grid-template-columns: 50% 50%; padding-bottom: 10px; } */
#goods_price_and_num_grid_div { padding-bottom: 10px; }
#goods_sales_div { margin-right: 5%; }

#goods_num_div div { float: left; width: 30%; text-align: center; border: solid 1px #ababab; height: 30px; line-height: 30px; }
#goods_num_div div .goods_change_goods_num_input { width: 85%; border: none; height: 50%; padding: 10px 0px 4px 10px; text-align: center; line-height: 100%; }

#goods_result_price_div { display: inline-block; width: 100%; margin-left: -20px; margin-top: -5px; }
#goods_other_div { width: 85%; margin: 50px 0px 0px 40px; }
#goods_other_div div { cursor: pointer; font-size: 14px; font-weight: bold; }
#goods_responsive_other_div { width: 98%; margin-top: 25px; }
/* #goods_responsive_other_div div { padding: 10px 0px 10px 0px; } */

#default_overlap_question_div { line-height: 30px; padding-bottom: 10px; }

/* 반응형 div */
#goods_detail_responsive_div #goods_price_and_like { display: grid; grid-template-columns: 80% 20%; }
#goods_detail_responsive_div #goods_price_and_like #goods_price_div { margin : 0px 0px 0px 30px; }
#goods_detail_responsive_div #goods_price_and_like #goods_like_div { margin : 20px 0px 0px 0px; position: relative; text-align: center; }
#goods_detail_responsive_div #goods_price_and_like #goods_like_div img { width: 55px; }

#goods_detail_responsive_div #goods_other_div { margin-left: 0px; width: 97%; }

/* //////////////////// */

#goods_main_other_div { border-bottom: solid 2px black; z-index: 1000; }
#goods_main_other_div #goods_main_grid_div { display: grid; grid-template-columns: repeat(4, 25%); padding: 0px 0px 0px 0px !important; }
#goods_main_other_div div { cursor: pointer; padding-top: 20px; padding-bottom: 20px; }
.goods_other_deco { padding: 0px !important; height: 15px; background-color: #79a3b1; }

/* .goods_bonus_img_div div img { width: auto; } */

.goods_bonus_img_div div img { width: 100%; }
.fixed_goods_other { position : fixed !important; width: 100%; left: 0px; top: 0px; background-color: white; padding-top: 0px; }
.select_fixed_goods_info { font-size: 18px; background-color: #03506f; color: white; border-bottom: solid 5px black; }
/* .goods_info_title { background-color: #839b97; margin : 0px; padding: 20px 0px 20px 20px; color: white; border-bottom: solid 3px black; } */
.goods_info_title { margin: 30px 20px 50px 20px; padding: 80px 0px 10px 15px; font-family: 'Recipekorea'; font-size: 22px; color: #35c5f0; border-bottom: solid 1px #ababab; }

#goods_sales_and_stars_div { margin-top: -25px; line-height: 20px; padding-top: 15px; }


.goods_info_divs { min-height: 700px; }
.goods_main_area { height: 0px !important; }

#goods_fixed_name_and_price { border-left: solid 1px #ababab; margin-left: 10px !important; padding-right: 10px; }
#goods_fixed_price_div { top : 98px; border-bottom: solid 3px black; z-index: 1000; }
/* #goods_fixed_grid_div { display: grid; grid-template-columns: 55% auto; } */
#goods_fixed_grid_div div { margin-left: 20px;  }

#goods_fixed_name_and_price_grid_div { display: grid; grid-template-columns: 153px auto; float: left; margin-top: 5px; width: 55%; margin-left: -20px !important; padding: 10px; }
/* #goods_fixed_name { line-height: 70px !important; } */
#goods_fixed_name { display: inline-block; width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-top: 5px;
    white-space: normal; line-height: 1.2; height: 2.8em; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
}
#goods_fixed_name h3 { margin-top: 0px; }

#goods_fixed_thumbnail { width: 130px; height: 100px; background-repeat: no-repeat; background-size: contain; background-position-x: center; background-position-y: center;}

#goods_fixed_num_divs { margin-left: 0px !important; margin-top: 15px; margin-bottom: 15px; }
#goods_fixed_num_div div { float: left; width: 35%; margin-left: 0px; text-align: center; }
#goods_fixed_num_div .goods_fixed_div { border: solid 1px #ababab; border-radius: 10px; width: 15% !important; margin-top: 2px; line-height: 20px; margin-left: 5%; margin-right: 5%; }
#goods_fixed_num_input_div { margin: 0px 0px 0px 0px; }
#goods_fixed_num_div div input { width: 80%; padding: 3px; padding-left: 10px; }

#goods_fixed_result_price_div { width: 100%; margin-top: 10px; display: inline; }
#goods_fixed_result_price_div p { font-size: 11px; margin: 15px 5% 3px 0px; color: #ababab; text-align: right; }
#goods_fixed_result_price_div h3 { margin: 7.5px 30px 5px 20px; }

#goods_fixed_num_grid_div { margin-right: 20px !important; float: left; width: 40%; margin-top: 10px; }

.goods_other_divs, .goods_other_divs div { margin-left: 0px !important; }

.goods_other_divs div { border : solid 1px #ababab; width: 75%; padding: 5px; text-align: center; border-radius: 5px; margin : 5px 0px 0px -10px !important; font-size: 13px; }

#goods_fixed_disable_but_div { font-weight: bold; font-size: 16px; margin-top: 5px; margin-bottom: 0px; }
/* .goods_other_divs { border: solid 1px #ababab; border-radius: 5px; width: 70%; line-height: 90px; height: 90px; font-size: 14px; margin-left: 10px !important; text-align: center; margin-top: 5px; }
.goods_other_divs div { margin-left: 0px !important; } */
/* #goods_fixed_allow_buy_div { border: solid 1px #ababab; margin-right: 20px; margin-top: 10px; border-radius: 5px; cursor: pointer; font-weight: bold;  }
#goods_fixed_disable_but_div { height: 90px; line-height: 90px; } */
#goods_fixed_overlap_cart_div { margin-left: 0px !important; }
#goods_fixed_overlap_cart_div div { height: 35px; line-height: 35px; }
#goods_fixed_overlap_select_div, #goods_fixed_complate_grid_div { border-top: solid 2px black; }

#goods_fixed_complate_grid_div div { height: 35px; line-height: 35px; }

.overlap_question_div { padding-bottom: 0px !important; }
.overlap_question_div p { margin-bottom: 5px; }


#goods_fixed_other_div{ margin-left: 0px !important; width: 100%; display: inline-block; text-align: center; }
#goods_fixed_allow_buy_div div { width: 100%; border: none; margin-top: 0px !important; height: 35px; line-height: 35px; border-radius: 0px; }
/* #goods_fixed_allow_buy_div div { width: 50%; margin-left: 25% !important; border: none; } */

.add_cart_complate_div { padding-bottom: 0px !important; }

#add_cart_responsive_complate_div { padding-bottom: 0px !important; }
.add_cart_complate_div .add_cart_complate_icon,  
#add_cart_responsive_complate_div .add_cart_complate_icon
{ width: 25px !important; position: absolute; margin: -3px 0px 0px -125px; }

#add_cart_responsive_complate_div h3 { padding-left: 35px; font-size: 17px; }
#add_cart_responsive_complate_div .add_cart_complate_icon { margin-left: -130px !important; margin-top: 15px; }

.add_cart_complate_div h3 { padding-left: 20px; }

.add_cart_complate_grid_divs { display: grid; grid-template-columns: 50% 50%; border-top: solid 1px #ababab; padding: 0px !important; }
.add_cart_complate_grid_divs div { padding: 0px !important; height: 40px; line-height: 40px; cursor: pointer; font-size: 12px !important; }

#goods_fixed_toggle_div { position: fixed; z-index: 1000;  width: 100%; background-color: black; color: white; height: 30px; line-height: 30px; left: 0px; top: 68px; padding-left: 15px; }
.add_cart_complate_grid_divs .goods_add_cart_div { padding-left: 20px !important; }
.goods_add_cart_div img { width: 22px; position: absolute; margin: 10px 0px 0px -25px; }

#goods_qna_length_div, #goods_review_length_title { margin-top: 5px; margin-left: 10px; padding-bottom: 0px; }
.goods_qna_review_main_div { margin: 75px 25px 0px 25px; }
.goods_qna_review_list { margin-top : 15px; border-top : solid 2.5px #ababab; border-bottom : solid 2.5px #ababab; }

.goods_write_button { margin-right: 25px; padding: 5px 10px 5px 10px; width: 110px; background-color: #4d375d; }
#goods_qna_empty_div { margin-top: 120px; }
#goods_qna_write_div { margin-top : 60px; }
#goods_qna_write_content_div { background-color: #e8eae6; border-top: solid 3px #ababab; border-bottom: solid 3px #ababab; padding : 0px 15px 30px 15px; font-size: 14px; }

#goods_qna_write_title { font-size: 18px; padding: 10px; }
#goods_qna_wirte_title_div { display: grid; grid-template-columns: 65px auto; }
#goods_qna_wirte_title_div div input[name=qna_title] { border: none; border : solid 1px black; width: -webkit-fill-available; padding: 5px; padding-left: 10px; }
#goods_qna_secret_div { padding-left: 10px; margin-top: 20px; }

#goods_qna_write_contents_div { margin-top: 20px; display: grid; grid-template-columns: 65px auto; }
#goods_qna_contents_box { margin-top: 10px; width: -webkit-fill-available; height: 150px; resize: none; padding : 10px; font-size: 16px; }

#goods_qna_write_submit { width: 100%; margin-top: 30px; background-color: black; color: white; height: 50px; line-height: 50px; font-weight: bold; font-size: 18px; }
.qna_data_list_other_div { display: grid; grid-template-columns: 60% auto; margin-right: 5px !important; }
#goods_review_list .qna_data_list_other_div { margin-right: 0px !important; margin-left: 0px !important; }

.qna_review_data_list_grid_div { display: grid; grid-template-columns: 60% auto; }
.qna_review_data_list_grid_div div { padding-left: 10px; line-height: 50px; height: 50px; margin-right: 15px; } 

.qna_data_list_grid_title_div {  display: inline-block; overflow: hidden; text-overflow: ellipsis;  }
.qna_data_list_secret_icon { width: 15px; margin-right: 15px; }

.my_qna_style { background-color: #f7f7e8; }
/* .qna_data_list_detail_div { border: dotted 1px black; } */

.qna_data_list_detail_question_div { display: grid; grid-template-columns: 20% auto; border-right: dotted 1px #ababab;  }
.qna_data_list_detail_question_div div { padding-top: 20px; padding-bottom: 20px; line-height: 28px;  }

.qna_data_list_detail_title_div { vertical-align: middle !important; text-align: center; font-size: 22px; border-right: solid 1px #ababab; }
.qna_data_list_detail_contents_div { margin-left: 10px; margin-right: 10px; font-size: 14px; }

.qna_data_detail_close_div { background-color: black; font-size: 13px; height : 25px; line-height: 25px; }
.qna_data_list_remove_div { display: grid; padding: 0px 10px 0px 10px; height: 40px; line-height: 35px; border: dotted 1px black; border-bottom: solid 2px black; border-top: solid 2px black; padding-right: 15px; font-size: 13px;  }
.qna_data_list_remove_div div { color: #ababab; }

.select_qna_list { font-weight: bold; color: #3d7ea6; border-bottom: solid 6px #3d7ea6; }
#qna_answer_textbox { resize: none; font-size: 16px; padding: 8px; font-weight: bold; color: #6f9eaf; }
.goods_qna_paing_div { margin-top : 60px; padding-bottom: 40px; }

#goods_qna_filter_div { margin-top: 20px; margin-right: 20px; padding-bottom: 20px; }
#goods_qna_filter_div div { float: right; margin-left: 35px; font-size: 12px; }
#goods_qna_filter_icon { width: 20px; margin-right: -20px;  }

.goods_qna_and_review_filter_info_div { margin-left: 10px; margin-top: 30px; border-top : dotted 1px black; border-bottom: dotted 1px black ;}
.goods_qna_filter_reload_icon { width: 18px; position: absolute; margin-left: 10px; }
.goods_qna_and_review_filter_info_div ul { margin-left: 30px; color: #ababab; margin-top: 20px; line-height: 30px; }

.goods_qna_filter_remove_icon { width: 10px; position : absolute; margin : 11px 0px 0px 10px}
#review_list_close_icon { width: 15px; position: absolute; margin-top: -60px; right: 5%; }
#review_list_title_div { border-bottom: solid 2px #ababab; }

.goods_plus_minus_buttons { background-size: 15px; background-repeat: no-repeat; background-position-x: center; background-position-y: center; }
/* ////////////////////////////////////////////////// */
#goods_review_empty_div { margin-top: 120px; }
.goods_star_div div { display: inline-block; zoom: 1; }

/* #goods_review_div { margin : 10px 25px 0px 25px; } */

.review_star_div { display: inline-block; zoom: 1; }
.goods_review_star_div { padding-left: 0px !important; }
.qna_review_data_list_grid_div .qna_data_list_other_div { padding-left: 0px; }
.qna_review_data_list_grid_div .review_star_div { margin-right: 0px !important; padding-left: 0px !important; }

#goods_review_list .qna_data_list_other_div { grid-template-columns: 50% 50%; }
.goods_review_contents_div { padding: 20px 15px 20px 15px; border-left: solid 1px #ababab; border-right: solid 1px #ababab; border-bottom: solid 4px black; }
.goods_review_remove_div { text-align: right; margin-top: 10px; }
.goods_review_remove_div input { background-color: white; padding: 5px 10px 5px 10px; font-size: 12px; border-color: #ababab; }
/* .review_star_div { float: right; margin: 0px !important; margin-right: 5px !important; } */
/* #goods_review_list .qna_review_data_list_grid_div div { margin-right: 5px; margin-left: 1px; } */

@media (max-width : 1150px) {
    #goods_detail_not_responsive { margin-left: 20px; }
}

@media (max-width : 1024px) {
    #goods_qna_wirte_title_div div input[name=qna_title] { margin-top: 10px; }
    #goods_qna_wirte_title_div { display: block; }

    #goods_qna_write_contents_div { display: block; }
    #goods_qna_write_contents_title { display: none; }
}

@media (max-width : 1000px) {
    #goods_detail_not_responsive { margin-left: 0px; }
}

@media (max-width : 890px) {
    #goods_detail_not_responsive { margin-left: 0px; }
    #goods_like_div p { font-size: 12px; }
}

@media (max-width : 880px) {
    .like_alert { margin-left: -100px;}
    #goods_like_div { margin-left : 55%; }
}

@media (max-width : 850px) {
    #goods_contents_grid_div { grid-template-columns: 5% 40% 50% 5%; }
    #goods_like_div { margin-left : 42%; }

    #goods_price_and_num_div { margin-left: 20px; }
    #goods_num_div div { width: 32%; }

    #goods_price_and_num_div { margin-top: 120px; }
    #goods_other_div { margin: 15% 0px 0px -85%; width: 180%; }
    #goods_detail_not_responsive { margin-top: 70px; margin-left: 10px; }

    #default_overlap_div { padding-bottom: 100px; }
    #goods_sales_and_stars_div { margin-top: -50px; padding-bottom: 25px;}

    /* #goods_contents_grid_div { padding-bottom: 90px; } */
}

@media (max-width : 800px) {
    .like_alert { margin-left: -115px; }
    /* #goods_fixed_grid_div { grid-template-columns: 100px auto; } */
    #goods_fixed_name_and_price_grid_div { width: 100%; }
    #goods_fixed_num_grid_div { display: inline-block; width: 100%; margin-left: 0px !important; border-top: solid 1px #ababab; }
    #goods_fixed_num_div .goods_fixed_div { width: 21% !important; }

    #goods_fixed_result_price_div p { margin-top: 0px; }
}

@media (max-width : 750px) {
    #goods_fixed_name_and_price_grid_div { border-bottom: solid 1px #ababab; padding-bottom: 10px; }
    #goods_fixed_num_grid_div { margin-left: 0px !important; margin-top: 0px; }
    /* #fixed_minus_div { margin-left: 0px !important; } */
    #goods_fixed_grid_div { display: block; }
}

@media (max-width : 720px) {
    .like_alert { margin-left: -130px; }
    #goods_price_and_num_div { margin-left: 10px; }

    #goods_other_div div { font-size: 13px; }
}

@media (max-width : 700px) {
    /* #goods_contents_grid_div { grid-template-columns: 5% 45% 45% 5%; } */
    /* #goods_like_div { margin-left : 38%; } */
    /* #goods_other_div { margin-left: -48% !important; } */
    /* #goods_like_div { margin-top : -60px; margin-left: 35%; } */

    /* .order_delivery_top_div div input { min-width: 95% !important; } */
}

@media (max-width : 650px) {
    #goods_contents_grid_div { display: block; grid-template-columns: 5% 50% 40% 5%; padding-bottom: 60px; }
    #goods_thumbnail_div div { margin : 0px 10px 0px 10px !important }
    #goods_num_div div { width: 32.5%; }

    .qna_data_list_grid_div { display: block; }

    #goods_detail_not_responsive { display: none; }
    #goods_detail_responsive_div { display: block !important; padding-right: 5px; }

    #goods_detail_responsive_div #goods_price_and_num_div { margin-left: 0px; margin-top: 30px; }
    /* #goods_main_other_div { position : relative !important; font-size: 13px; } */

    #add_cart_responsive_complate_icon { margin-top: 0px !important; }
    #goods_detail_responsive_div #goods_sales_and_stars_div { margin-right: 25px !important; }

    #goods_sales_and_stars_div { margin-top: 10px; padding-bottom: 0px; }
    .qna_data_list_other_div { grid-template-columns: 53% auto; }
    /* .qna_data_list_other_div div { text-align: left !important; } */
    /* .goods_review_star_div { text-align: left !important; } */
}

@media (max-width : 600px) {
    .goods_review_star_div { text-align: left !important; }
    /* #goods_review_list .qna_data_list_other_div { grid-template-columns: 55% auto; } */

}

@media(max-width : 550px) {
    .goods_qna_review_main_div { margin-left: 0px; margin-right: 0px; }
    #goods_qna_filter_info_div { margin-left: 0px; padding-left: 10px; }

    .qna_review_data_list_grid_div { display: block; line-height: 0px; }
    .qna_data_list_other_div { border-top: dotted 1px #ababab; height: 35px !important; line-height: 35px !important; margin-top: -15px; padding-bottom: 15px; }
    .qna_data_list_grid_title_div { padding-bottom: 15px; }
    .qna_date_list_div { text-align: left !important; }
    .qna_data_list_state_div { text-align: right !important; }

    .goods_review_star_div { text-align: left !important; margin-left: 10px; }

}

@media (max-width : 500px) {
    #search_board_div { display: block !important; }
    .qna_data_list_other_div { height: 40px !important; margin-top: -10px; }
    .qna_data_list_other_div div { text-align: left }
    .qna_data_list_state_div { text-align: right !important; }
    .qna_data_list_grid_div { font-size: 14px; }

    .qna_data_list_other_div .goods_review_date_div { text-align: right !important; }
}

@media (max-width : 450px) {
    #goods_fixed_name_and_price_grid_div { grid-template-columns: 125px auto; }
    #goods_fixed_thumbnail { width: 100px; }
    #goods_fixed_name_and_price div { margin-left: 15px; line-height: 35px; }
    #goods_fixed_name { font-size: 15px !important; }
    #goods_fixed_price { font-size: 14px; }

    #goods_detail_responsive_div #goods_sales_and_stars_div { margin-right: 5px !important; }
}

@media (max-width : 424px) {
    #goods_qna_length_div { text-align: center; padding-bottom: 15px; }
    #goods_sales_and_stars_div { display: block; }
    #goods_sales_and_stars_div div { text-align: right !important; }
    #goods_stock_div { margin-top: 70px; }
}

@media (max-width : 400px) {
    /* #goods_thumbnail_div div { margin-right : 20px !important } */
    #goods_main_other_div { font-size: 12px; }
    /* #goods_fixed_num_grid_div { grid-template-columns: 60% auto; } */

    .select_fixed_goods_info { font-size: 16px; }
    #goods_fixed_price_div { top: 98px; }
}

@media (max-width : 349px) {
    #close_order_delivery_code { margin-left: 295px; }
}

@media (max-width : 350px) {
    #goods_detail_responsive_div #goods_price_and_like { grid-template-columns: 75% auto; }
    #goods_main_other_div { font-size: 11px; }
}