.loading_div { text-align: center; }
.loading_div div { height: 300px; background-repeat: no-repeat; width: 90%; background-position-x: center; background-size: contain; margin-top: 10px; position: relative; margin-left: auto; margin-right: auto; padding-bottom: 40px; }

#top_category_div { border-bottom: solid 1px #ababab;  height: 60px; line-height: 60px;}
#top_category_list_grid_div { display: grid; font-size: 13px; }
#top_category_list_grid_div div img { width: 17px; margin-right: 5px; }

#top_category_index_div { display: grid; grid-template-columns: 8% 84% 8%; border-bottom: solid 2px black; }
#open_top_category_div { z-index: 1000; position: absolute; background-color: white; font-size: 13px; display: grid; grid-template-columns: 8% 84% 8%; width: 100%; border-bottom: solid 3px black; }

#top_category_contents_div { display: grid; }
ul { padding-left: 0px !important; }
.select_cat, .select_last_cat { font-weight: bold; color: #16a596; font-size: 14px; border-bottom: solid 1px #16a596; }

.slick-track { width: 100% !important; }

#top_category_reponsive_div { border-bottom: solid 1px #ababab; }
#top_category_reponsive_div ul li { min-width: 40px; margin : 0px 5% 0px 5% }

#search_bar_div { margin-top: 50px; padding-bottom: 30px; }
#search_bar_div #search_input { padding: 5px; padding-left: 10px; margin-left: 15px; width: 30%; }
#search_bar_div #search_img { position: absolute; width: 20px; border: solid 1px black; padding : 3px; margin-left: 5px; margin-top: 1px; }

#search_result_div { margin : 25px 0px 0px 30px }
#search_result_div img { width: 25px; position: absolute; }
#search_result_div b { margin: -5px 0px 0px 40px; }

#search_result_str_div { margin-top: 8px !important; }
#search_data_result_div { padding-bottom: 15px; }

#search_contents_div { margin-top: 70px !important; padding-bottom: 70px; }
#search_result_null_div div { display: inline-block; border: solid 1px black; padding : 3px; width: 300px; height: 300px; background-size: cover; }
/* #search_result_str_div div { margin-left: 20% !important;  } */
#search_album_div .search_contents_each_list { float: left; width: 23%; margin : 5px 0px 80px 8%; max-height: 380px; }
.search_contents_thumb_list { padding: 5px; min-height: 180px !important; background-repeat: no-repeat; background-size: cover; background-position-x: center; }
.search_goods_name { height: 40px }
.search_price_div { margin-top: 10px; }
.search_goods_star_div { text-align: center; font-size: 11px; padding-top: 5px; }

.serach_each_div { border-left: none; border-right: none; padding: 5px; }
.search_album_goods_number { margin-bottom: 3px !important; }
.search_origin_price_div { padding-bottom: 5px; }
.search_discount_percent { padding-left: 5px; }

#search_filter_div { margin-top: 30px !important; padding-top: 15px; border-top: solid 2px #ababab; background-color: #ece2e1; }
#search_price_filter_title { padding-bottom: 5px; }

#search_price_filter_grid_div { text-align: right; margin-right: 55px; margin-bottom: 15px; }
#search_price_filter_grid_div input { padding : 3px; padding-left: 5px; }
/* #search_price_filter_grid_div div { float: left; } */
#search_price_filter_submit { width: 20px; position: absolute; margin: -2px 0px 0px 10px; border: solid 1px black; padding: 2px; }

/* #search_price_filter_div { margin-right: 55px; word-spacing: 5px; margin-bottom: 20px; }
#search_price_filter_div form input[type=number] { padding : 2px; padding-left: 5px; }
#search_price_filter_div #search_price_filter_submit { position : absolute; width: 20px; margin: -1px 0px 0px 10px; border: solid 1px black; padding: 2px; } */

#search_view_filter_div { display: inline-block; }
#search_view_filter_div div { float: left; margin-right: 25px; margin-left: 25px; padding :5px; }
#search_view_filter_div div img { width: 20px !important; position: absolute; }
#search_view_filter_div div p { margin-left: 25px; margin-top: 0px; }

#search_view_select { color : #52BFFF; font-weight: bold; font-family: 'Recipekorea'; }
/* .search_album_each_div { display : grid; grid-template-columns: 10% 80% 10%; } */
.search_album_each_div { padding: 0px 15px 0px 15px; }
.search_album_grid_div { display: grid; grid-template-columns: 150px auto !important; max-height: 160px; min-height: 150px; }

.search_album_thumbnail { width: auto; height: 100%; background-repeat: no-repeat; background-position-x: center !important; background-position-y: center !important; background-size: cover; }
.search_album_category_div { padding : 10px }

.search_album_name_and_price_grid { display: grid; grid-template-columns: 75% auto !important; }
.search_album_name_and_price { font-size: 14px; padding : 5px 15px 5px 15px; width: -webkit-fill-available; }
/* .search_album_name_and_price p { margin-left: 5px; } */
/* .search_album_name_div { height: 100%; } */
/* .search_board_price_div { padding: 10px 0px 10px 0px; } */
.search_board_star_div { padding: 5px 0px 5px 0px; line-height: 5px; }

#search_option_div { margin-top: 70px; }
#search_option_title_div { border-bottom: solid 1px #ababab; padding-bottom: 10px; font-weight: bold; padding-left: 20px; color: #ababab; }
#search_option_list_div { word-spacing: 4px; line-height: 25px; margin-left: 0px; margin-bottom: 10px; padding-top: 15px; }
.search_option_list b { margin-left: 0px !important; }
.search_option_grid_div div img { width: 15px !important; position: absolute; margin: 6px 0px 0px 15px; cursor: pointer; }

.search_option_grid_div { margin-top: 5px; display: grid; grid-template-columns: 15% auto; }
.search_option_value_div { margin-left: 15px; }

.category_responsive { display: none }
#category_responsive_grid_div { display: grid !important; grid-template-columns: 20% auto; }
#category_responsive_first_cat_div div { border-bottom: dotted 1px #ababab; }

#category_responsive_close_button { background-color: #16697a; width: 100%; color: white; position : absolute; padding: 10px 0px 15px 0px; border: solid 3px #16697a;}
#category_responsive_last_cat_div { border-bottom: solid 1px #ababab; }
#category_responsive_last_cat_div div { padding-left: 15px; height: 60.7px !important; }
#category_responsive_bottom_div { height: 50px; background-color: white; margin-bottom: 0px; }

.select_cat_responsive { background-color: rgb(22, 165, 150); color: white; border-color: rgb(22, 165, 150); font-weight: bold; font-size: 14px; }
#close_category_border_div { position : absolute; height: 60px; width: 100%; margin-top : 450px }
.select_each_last_cat { color: orange; border-bottom: solid 2px orange; }

#close_category_button { display: inline-block; width: 100%; position: absolute; margin-top: 451px; height: 35px; background-color: black; border : none; line-height: 25px; }
#search_show_last_cat_title { width: 100px !important; }

#search_show_category_list_div 
{ display: grid; grid-template-columns: 120px auto; padding: 10px 0px 15px 15px; font-size: 14px; height: 20px; line-height: 25px; overflow: hidden; }
#search_show_last_list { display: grid; width: 100% !important; overflow-y: hidden; }
#search_show_last_list::-webkit-scrollbar { display: none }
#search_show_last_list div { width: auto; margin-right: 50px; margin-left: 20px; }
#search_select_angel { width: 15px; margin: 5px 0px 0px -10px;}

#search_album_like_div { position: absolute; border: solid 1px black; background-color: white; padding: 6px 8px 3px 8px; margin-top: -40px; margin-left: -10px; }
#search_album_like_div img { width: 30px; }

#search_view_filter_grid_div { display: grid; grid-template-columns: 270px auto; }
#search_view_value_filter_div { text-align: right; }
#search_view_value_filter_div div { float: right; margin: 5px 10px 0px 15px; cursor: pointer; }
#select_view_filter { font-weight: bold; color: #52BFFF; font-family: 'Recipekorea'; }

.search_goods_sold_out_alert_div { height: 170px; line-height: 170px; margin-top: -15px; opacity: 0.8; background-color: black; position: relative; }
/* .search_goods_sold_out_alert_div h4 { margin: 0px 0px 0px 0px; } */

#loading_reload_icon { width: 50px; }
.paging_div { display: grid; grid-template-columns: 10% 80% 10%; }

.page_move_angel_icon { width: 20px; margin-top: 2.5px; cursor: pointer; }
/* .page_list_contents { margin-left: 20%; margin-right: 20%; } */
/* .page_list { float: left; margin-left: 10px; } */

.page_list_div { display: grid; }
#review_list_contents_div { margin-top: 20px; }

#review_list_empty_div h3 { margin-top: 50px; color: #51c2d5; padding-bottom: 20px; }
#review_list_loading_div img { height: 230px; }

#review_order_list { height: 400px; padding: 0px 15px 0px 15px; overflow: auto; border: solid 1px black; position: relative; }

.review_goods_data_div { padding : 15px 0px 25px 0px; }
.review_goods_thumbnail_div { height: 60px; width: 60px; background-repeat: no-repeat; background-size: contain; }

.review_goods_info_div { margin-top: 30px; display: grid; grid-template-columns: 80px auto; }
.review_goods_name_div { width: 95%; margin-top: 10px; margin-bottom: 0px; }
.review_goods_name_and_price_div { max-width: 330px; }
.review_goods_num_and_price_div { margin-top: 10px; font-size: 12px; color: #ababab; }
.review_write_open_button { margin-top: 10px; padding: 2.5px 10px 5px 10px; width: 100%; font-size: 12px; }

.review_write_div { font-size: 12px; border: solid 1px #ababab; padding: 10px; }
.review_select_score_div { border-bottom: dotted 2px #ababab; padding-bottom: 10px; color: #ababab; height: 20px;}
.review_select_score_div div { float: left; font-size: 13px; }
.review_stars { font-size: 22px !important; margin-top: -9px; cursor: pointer; margin-left: 5px; }

.review_title_input { border: none; padding: 10px; width: -webkit-fill-available; }
.review_contents { border: none; margin-top: 5px; border-bottom: solid 1px #ababab; border-top: solid 1px #ababab; padding: 10px; height: 100px; width: -webkit-fill-available; resize: none; }
.reivew_submit_button { width: -webkit-fill-available; background-color: black; color: white; padding : 5px 0px 5px 0px; font-size: 13px; }

#review_write_loading { position: absolute; z-index: 1000; background-color: black; width: 91.8%; height: 92%; margin-top: -20px; opacity: 0.8; text-align: center; font-weight: bold; }
#review_write_loading div { margin-top: 200px; background-color: white; padding: 10px; }

#review_scrolling_alert { margin-top: -50px; opacity: 0.7; margin-left: -20px; width: -webkit-fill-available; text-align: center; color: white; padding: 15px; position: absolute; background-color: black; }
#goods_review_filter_div { margin-top: 20px; padding-bottom: 20px; }
#goods_review_filter_div div { float: right; font-size: 13px; margin-right: 20px; }
#goods_review_filter_div div u { cursor: pointer; }

#goods_review_filter_selector { padding: 5px; margin-top: -10px; margin-right: 15px; }
.search_sales_div { padding: 5px 0px 10px 0px; }

#home_contents_slick_div { max-height: 400px; padding-bottom: 10px; padding-top: 30px; border-bottom: solid 2px #ababab; }
#hot_item_show_div { height: 100px; font-size: 30px !important; }

.home_contents_slick_divs { padding: 10px 20px 0px 20px; }

#home_category_show_div h3 { font-size: 16px; padding-left: 15px; }
#home_category_list_div { display: grid; text-align: center; padding: 15px 0px 0px 0px; }
.home_category_list_thumn_div { display: inline-block; background-size: contain; background-repeat: no-repeat; width: 25px; height: 25px; }

#home_hot_item_div { border-left: solid 2px #ababab; padding-left: 20px; margin-top: -8px; }

/* #home_contents_hot_item_list_div { display: grid; } */
.home_contents_hot_item_divs { height: 180px; margin: 0px 5px 0px 3px; border: solid 1px #ababab; padding: 5px; }
.home_contents_hot_item_thumb_div { margin-top: 10px; height: 100px; background-size: 70%; background-repeat: no-repeat; background-position-x: center; background-position-y: center; }
.home_contents_hot_item_name_div { font-size: 12px; text-align: center; padding-top: 15px; white-space : none }

.home_contents_slick_divs { text-align: center; }
.home_contents_slick_divs img { width: 60%; max-height: 300px; }

#feedback_title_div { border-bottom: solid 2px #ababab; padding: 10px; }
#feedback_title_div h3 { font-size: 20px; font-family: 'Recipekorea'; }
#feedback_title_div p { margin-top: -5px; color: #ababab; font-family: 'paybooc-Bold'; }
#feedback_add_div { background-color: black; color: white; height: 40px; line-height: 40px; }
#feedback_add_div h3 { margin: 0px !important; }

#feedback_write_div { padding: 0px 15px 0px 15px; }
#feedback_write_title_div { border-bottom: solid 3px #ababab; }
#feedback_write_close_icon { width: 18px; position: absolute; margin: -60px 0px 0px 350px; }

#feedback_write_contents_div { margin-top: 15px; padding: 0px 10px 0px 10px; }
.feedback_grid_div { font-size: 13px; line-height: 25px; margin-top: 10px; }
.feedback_grid_div div input { width: -webkit-fill-available; padding: 2px 5px 2px 5px; font-size: 13px; }
#feedback_contents { width: -webkit-fill-available; min-height: 100px; max-width: 95.5%; min-width: 50%; max-height: 250px; padding : 7px }
#feedback_loading_div { padding: 40px 0px 20px 0px; }
/* ; */
input[name=feedback_submit] {  width: -webkit-fill-available; margin-top: 10px; font-size: 12px; padding: 5px 0px 5px 0px; }
#feedback_able { background-color: #52BFFF }

#feedback_contents_div { padding: 0px 20px 0px 20px; }

#feedback_empty_div { margin-top: 60px; }
#feedback_contents_list_div { margin-top: 30px; }
#feedback_contents_list_border_div { margin-top: 20px; border-top: solid 3px #ababab; border-bottom : solid 3px #ababab; }
#feedback_top_paging_div { margin-top: 40px; }

/* .feedback_list_divs { padding: 0px 10px 0px 10px; } */
.feedback_list_other_div { display: grid; grid-template-columns: 68% auto; padding: 7px 10px 7px 10px; }
/* .feedback_list_grid_div_1 { display: grid; grid-template-columns: 30px auto; } */
.feedback_list_grid_div_2 { display: grid; grid-template-columns: 70% auto; }
/* .feedback_list_other_div div { padding: 0px 10px 0px 10px; } */
/* .feedback_page_div { width: 58%; } */

#select_feedback { background-color: lightblue; }
.feedback_contents_divs { padding: 10px; max-height: 400px; overflow-y: auto; }
.feedback_admin_other_div { display: grid; grid-template-columns: 200px auto; border-top: solid 2px #ababab; padding: 7px 5px 7px 5px; }
#feedback_select_border { border-top: solid 3px black; }
#feedback_select_font { font-weight: bold; font-size: 15px; }
.feedback_control_div div { padding: 0px 0px 0px 20px; }
.feedback_control_div div input { border: none; background-color: white; cursor: pointer; font-size: 12px; }

#feedback_bottom_div { margin-top: 20px; }

#feedback_filter_div { margin-top: 10px; }
#feedback_filter_div div { margin-bottom: 5px; }
#feedback_filter_div div select { font-size: 12px; width: 100px; cursor: pointer; padding: 3px; font-family: 'paybooc-Bold'; }

.select_feedback_filter { font-weight: bold; border: solid 2px #52BFFF; color: #52BFFF; }
#feedback_using_filter_div { margin-top: 15px; padding: 10px 0px 10px 0px; border-top: solid 3px #28527a; border-bottom: solid 3px #28527a; }
#feedback_using_filter_div h4 { margin-bottom: 0px; }

#feedback_using_list_ul { margin-left: 25px; }
#feedback_using_list_ul li { margin-top: 5px; }
#feedback_using_list_ul li img { width: 15px; position: absolute; margin: 1px 0px 0px 8px; }

#feedback_reset_filter_icon { width: 15px; position: absolute; margin: -2px 0px 0px 10px; }

@media (max-width : 1200px) {
    #top_category_index_div, #open_top_category_div { grid-template-columns: 2% 98% 0% !important; }

    #search_album_div .search_contents_each_list { margin-left: 6% !important; width: 25%; }
    .search_album_each_div { grid-template-columns: 10% 80% 10% !important;  }
}

@media (max-width : 1100px) {
    .search_option_grid_div { grid-template-columns: 20% auto; }
}

@media (max-width : 1024px) {
    .top_category_grid_div { overflow-x: auto; white-space: nowrap; grid-template-columns: 0% 100% 0% !important; }
    .top_category_grid_div div { display: inline-block !important; width: 70%; }

    /* #top_category_list_grid_div { overflow-x: scroll; width: 100%; } */
    #open_top_category_div { grid-template-columns: 0% 100% 0% !important; }
    .select_cat, .select_last_cat { border-bottom: solid 2px #16a596; }
    /* #top_category_contents_div { width: 49% !important; } */
}

@media (max-width : 950px) {
    #search_album_div .search_contents_each_list { margin-left: 5% !important; width: 26.5%; }
    .search_album_each_div { grid-template-columns: 5% 90% 5% !important; }

}

@media (max-width : 880px) {
    #search_bar_div form { width: 95% !important; }
    #search_input { width: 50% !important; }

    .home_contents_slick_divs { padding: 0px !important; }

}

@media (max-width : 800px) {
    .each_last_cat { display : none !important }
    #top_category_reponsive_div { display: block !important; }
    #top_category_contents_div { display: none }

    .category_list_default { display: none; }
    .category_responsive { display: block; }
    #category_responsive_div { display: block !important; }
    #close_category_button { display: none; }

    #search_view_filter_grid_div { display: block; }
    #search_result_div { margin-top: 80px; }
}

@media (max-width : 700px) {
    .search_contents_thumb_list { min-height: 140px !important; }
    .search_goods_sold_out_alert_div { height: 130px; line-height: 130px; }

    #search_album_like_div { margin-top: -30px; }
    #search_album_like_div img { width: 20px; }

    .search_goods_category { font-size: 10px !important; }
}

@media (max-width : 650px) {
    #search_view_filter_grid_div { margin-top: 30px; }
    #home_category_list_div { grid-template-columns: repeat(7, 25%) !important; overflow: auto; }
}

@media (max-width : 600px) {
    .top_category_grid_div div { width: 70% !important; }
    #top_category_contents_div { grid-template-columns: 25% auto !important; }

    #search_bar_div form { width: 90% !important; }
    #search_input { width: 55% !important; }

    #search_album_div .search_contents_each_list { margin-left: 3.5% !important; width: 29%; }
    /* .search_album_each_div { grid-template-columns: 3% 94% 3% !important; } */

    .search_option_grid_div { grid-template-columns: 23% auto; }

    #search_album_div { display: none; }
    #search_album_div { display: block; }

    #search_view_filter_div { display: none; }
    #search_album_div { display: none; }

    /* .search_album_each_div { grid-template-columns: 0% 100% 0% !important; } */
    /* .serach_each_div { margin-bottom: 35px !important; padding-left: 0px; padding-right: 0px; } */
    /* .search_album_grid_div { border: solid 2px black; border-left: none !important; border-right: none !important; } */
    /* .search_album_goods_number { margin-left: 15px; } */
    #search_board_div { display: block }

    #search_filter_div { padding-bottom: 15px; }
    #search_price_title_div { display: none; text-align: left; margin: 10px 0px 0px 20px; }
    #search_price_input_div { display: block !important; margin-right: 20px; }
    #search_price_filter_grid_div { margin-right: 35px; }

    .search_option_grid_div { grid-template-columns: 27% auto; }
    #search_view_filter_grid_div { display: block; height: 20px; }

    #search_view_value_filter_div { line-height: 30px; }
    /* #search_price_title_div { display: none; } */
    .home_contents_slick_divs img { width: 70%; }

    .feedback_list_other_div, .feedback_list_grid_div_2 { grid-template-columns: 60% auto; }
}

@media (max-width : 550px) {
    #category_responsive_grid_div { grid-template-columns: 26% auto; }
    #review_list_div { margin-left: 20px; margin-right: 20px; }
    #review_list_close_icon { margin-right: 20px; }

    .review_goods_name_and_price_div { max-width: 300px; }
    #review_write_loading { width: 83.8%; }
}

@media (max-width : 500px) {
    .home_contents_slick_divs img { width: 80%; }
    .top_category_grid_div div { width: 75% !important; }

    .feedback_list_other_div { display: block; }
    .feedback_list_grid_div_2 { grid-template-columns: 80% auto; }

    #feedback_contents_list_div p { padding: 0px 5px 0px 10px; }
    #feedback_contents_div { padding: 0px 0px 0px 0px; }
    #feedback_filter_div { padding-right: 15px; }
    #feedback_using_filter_div { padding-left: 15px; }
}

@media (max-width : 426px) {
    #top_category_contents_div { grid-template-columns: 30% auto !important; }
    .search_option_grid_div { grid-template-columns: 30% auto; }

    #category_responsive_grid_div { grid-template-columns: 30% auto; }

    #review_list_div { margin-left: 30px; margin-right: 30px; }
    #review_list_close_icon { margin-right: 30px; }

    .review_goods_name_and_price_div { max-width: 280px; }
    #review_write_loading { width: 79.8%; }
    .home_contents_slick_divs img { width: 95%; }

}

@media(max-width : 424px) {
    .search_album_grid_div { grid-template-columns: 100px auto !important; }
    /* .search_album_thumbnail { background-size: ; } */
}

@media (max-width : 400px) {
    #search_option_div { padding-left: 0px; width: 100%; margin-left: 0px; margin-top: 50px; ; }
    #search_option_title_div { padding-left: 20px; }

    #search_option_list_div { margin-left: 10px; }

    #search_price_input_max_div { display: block; }
    #search_price_filter_grid_div { margin-right: 0px; border-top: 1px #ababab dotted; padding-top: 20px; }
    #search_price_input_div { margin-right: 25%;}
    #search_price_input_div input[type=number] { width: 60%; margin-bottom: 5px; }
    #search_price_filter_submit { margin: -62px 0px 0px 10px; width: 48px; }

    #review_list_div { margin-left: 55px; margin-right: 55px; }
    #review_list_close_icon { margin-right: 55px; }
    .review_order_info_div div { float: none !important; }
    .review_goods_info_div { margin-top: 15px; }

    .review_goods_name_and_price_div { max-width: 230px; }
    #review_order_list { padding-left: 10px; padding-right: 10px; }

    #review_write_loading { width: 69.8%; }
    .search_album_each_div { padding: 0px !important; }

    #feedback_write_div { padding: 0px 25px 0px 25px; }
    #feedback_write_close_icon { margin-left: 320px; }
    /* .search_album_thumbnail { margin: 5px; } */
}

/* @media (max-width : 375px) {
    #goods_review_filter_div { text-align: right; line-height: 30px; font-size: 15px !important; }
    #goods_review_filter_div div { float: none;  }
} */

@media (max-width : 350px) {
    .top_category_grid_div div { width: 80% !important; }
    #top_category_contents_div { grid-template-columns: 35% auto !important; }

    .search_option_grid_div { grid-template-columns: 33% auto; }

    #category_responsive_grid_div { grid-template-columns: 33% auto; }

    #review_list_div { margin-left: 80px; margin-right: 80px; }
    #review_list_close_icon { margin-right: 80px; }

    .review_goods_name_and_price_div { max-width: 180px; }
    #review_write_loading { width: 59.3%; }

    #search_view_value_filter_div div { font-size: 12px; margin : 5px 10px 0px 10px !important }

    #home_category_list_div { grid-template-columns: repeat(7, 33%) !important; }

    .home_contents_slick_divs img { width: 100%; }

    #feedback_write_div { padding: 0px 40px 0px 40px; }
    #feedback_write_close_icon { margin-left: 290px; }

    .feedback_list_grid_div_2 { grid-template-columns: 75% auto; }

    /* #top_category_contents_div { width: 65% !important; } */
}