#main_header_div {
    display: grid;
    grid-template-columns: 50% auto;
    /* grid-template-columns: repeat(3, 33%); */
    border-bottom: solid 1px #ababab;
}

/* #body_div_left { border-right: solid 1px #ababab; } */
/* #body_div_right { border-left: solid 1px #ababab; } */

#body_div {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

#bottom_div { padding: 30px 40px 30px 40px; border-top: solid 1px #ababab; }
#bottom_stack_grid_div { margin-top: 20px; }
.bottom_stack_grid { display: grid; grid-template-columns: 100px auto; padding-bottom: 10px; }

@media (max-width : 425px) {
    #bottom_div { padding: 30px 15px 30px 15px !important; }
}

#body_div_center { 
    border-right: solid 1px #ababab; 
    border-left: solid 1px #ababab;
    padding-bottom: 50px;

 }

#main_header_div #main_header_center {
    text-align: right;
    font-size: 20px;
}

#main_title a {
    text-decoration: none;
    color: black;
}

.ReactModal__Overlay { background-color: rgb(0, 0, 0, 0.75) !important; }

#main_login_ul {
    list-style: none;
    margin-top: 28px;
    font-size: 13px;
}

#main_login_ul li {
    float: left;
    margin-left: 50px;
}

#main_login_ul li a {
    color: black;
    text-decoration: none;
}

.login_header_div { line-height: 35px; }
#header_login_user_info_div { text-align: left; color: #ababab; font-size: 11px; }
#header_login_info_div { border-top: solid 0px #ababab; padding: 10px 20px 10px 20px; }
#header_login_info_div div { padding: 0px 45px 0px 0px; }

#header_user_alert_icon { width: 16px; }

#signup_email_li div { margin-top: 0px !important; }
#signup_div_grid #signup_email_li input { width : 90% !important; }
#signup_email_host_select { padding : 5px }

/* #signup_email_custom_input_div input { width: 20% !important; } */
#signup_info_div #signup_email_custom_input_div { margin-left: 20px; margin-top: 20px !important; }
#signup_info_div #signup_email_custom_input_div input[name=email_custom_input] 
{ width: 76% !important; }

#signup_div { margin-top: 20px !important; }

#signup_div_grid { display: grid; grid-template-columns: 50% 50%; }
#signup_info_div { padding: 0px 40px 0px 40px; line-height: 25px; border-right: solid 1px #ababab; }

#signup_info_div ul li { margin-bottom: 60px !important; }

#signup_center_height_line { border-left: solid 1px #ababab; }
#signup_agree_div { margin-left: 80px; margin-right: 20px; }
#signup_agree_div textarea { height: 85% !important; }

#signup_div_grid div { margin-top: 30px; }
#signup_div_grid div ul li { margin-bottom: 40px; }
#signup_div_grid div ul li input { 
    width: 75%;
    margin-left: 15px;
    height: 25px;
    border-radius: 3px;
    padding-left: 5px;
}

#signup_agree_div textarea {
    margin-top: -10px;
    width: 90%;
    height: 70%;
}

#signup_agree_div #signup_argee_checkbox_div {
    margin-top: 10px;
    font-size: 14px;
}

#signup_agree_div #signup_argee_checkbox_div label {
    margin-left: 5px;
}

#signup_agree_mobile_div { display: none; }

#signup_submit_div { text-align: center; padding-bottom: 80px; margin-top: 70px; }
#signup_submit_button {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: white;
    width: 30%;
}

#signup_complate_div {
    /* border: solid 2px #ababab; */
    font-size: 13px;
    margin-top: 8%;
    padding: 0px 0px 5px 0px;
    border-radius: 5px;
    text-align: center;
}


#signup_complate_div h3 { 
    border-bottom: solid 1px #ababab; 
    border-width: 3px;
    width: 50%;
    margin : 0px 25% 0px 25%;
    padding-bottom: 20px;
}

#signup_complate_div p { font-size: 13px; }
#signup_complate_div #signup_complate_select_div {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 120px;
    font-size: 17px;
}


#login_div h3 {
    padding-bottom: 20px;
    margin: 10px 0px 0px 0px;
    font-size: 26px;
}

.login_form_grid { display: grid; grid-template-columns: 20% auto; margin-top: 10px; font-size: 14px; }
.login_form_grid input { margin-left: 20px; width: 80%; }
.login_other_title_div { text-align: right; }

#login_div #login_form { margin-top: 30px; padding-bottom: 30px; border-bottom: solid 1px white; }
/* #login_div #login_form div { line-height: 10px; } */
#login_div #login_form div input { padding : 4px }

#login_div #login_close_icon {
    position: absolute;
    width: 20px;
    margin: -60px 0px 0px 350px !important;
}

#login_button_div div { font-size: 12px; color: #ababab; margin: 8px 0px 0px 225px !important; position: absolute; }
/* #login_button_div div u { position: absolute; } */

#login_div #login_button_div input {
    /* background-color: white; */
    /* border: solid 1px white; */
    /* background-color: rgb(57, 72, 103); */
    border: none;
    color: white;
    width: 92%;
    background-color: black;
    font-size: 12px;
    padding: 5px;
    height: 30px;
    margin : 60px 0px 0px 10px;
}

#login_div { display: grid; grid-template-columns: 3% 94% 3%; }
#login_div #login_other_div {
    margin-top: 20px;
    font-size: 13px;
}

#header_other_div {
    border: solid 1px #ababab;
    border-top: none;
    background-color: #535E53;
    padding: 5px;
    padding-left: 10px;
    height: 50px;
    line-height: 45px;
    display: grid;
    grid-template-columns: 20% 45% 35%;
}

#header_category_div img {
    width: 35px;
    margin-top: 6px;
    margin-left: 10px;
}

#header_category_div b {
    position: absolute;
    font-size: 16px;
    margin-left: 10px;
}

#header_search_div input {
    width: 45%;
    padding: 4px 0px 4px 7px;
    height: 17px;
    font-weight: bold;
    font-size: 14px;
}
#header_search_div #header_search_icon {
    position: absolute;
    margin-top: 10px;
    width: 18px !important;
    height: 20.5px !important;
    margin-left: 10px;
    /* border: solid 1px black; */
    background-color: white;
    padding: 4.5px 7px 3px 7px;
}

#header_myPage_div {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    font-size: 13px;
    text-align: center;
}

#main_header #header_other_mobile_div { display: none; background-color: white; font-size: 12px; }
#header_other_mobile_div {
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    text-align: center;
    padding : 10px 0px 10px 0px;
    border-bottom: solid 1px black;
    font-size: 14px;
}

#my_page_profile_div {
    display: grid;
    grid-template-columns: 2% 25% auto;
    padding: 5px 0px 10px 15px;
    margin-top: 20px;
}

#user_thumbnail_div #user_thumbnail_img {
    border: solid 1px #ababab;
    width: 120px;
    height: 120px;
}

.my_page_info_title_div {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    font-size: 13px;
    color: #ababab;
    height: 62px;
}

.my_page_info_title_div div p {
    font-size: 17px;
    color: black;
    margin-top: 5px;
}

#user_mobile_id_div { 
    display: none;
    margin-top: 20px;
    line-height: 5px;
}

#user_thumbnail_img {
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: 50%;
    background-position-y: 50%;
}

#my_page_select_div {
    margin-top: 60px;
    margin-bottom: 70px;
    padding: 10px;
    display: grid;
    grid-template-columns: 25% auto 25%;
}

.my_page_select_grid_div {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.my_page_select_grid_div .my_page_select_divs {
    border: solid 1px #ababab;
    height: 150px;
    cursor: pointer;
}

.my_page_select_grid_div .my_page_select_divs div { text-align: center; margin-top: 10px; }
.my_page_select_grid_div .my_page_select_divs div u { 
    text-decoration: none;
    border-bottom: solid 1px #ababab; 
    padding-bottom: 2px; 
    font-size: 0.8em;
    color: #ababab;
}

.my_page_icon_img {   
    height: 90px !important;
    border : none !important;
    background-repeat: no-repeat;
    background-size: 80px;
    background-position-y: 5px;
    background-position-x: 50%;
    margin-top: 10px;
}

#modify_user_info_waiting {
    margin-top: 40px;
}

#modify_user_div_grid {
    /* display: grid; */
    /* grid-template-columns: 30% auto 0%; */
    margin-top: 25px;
}

#modify_user_info_ul { line-height: 0px; padding-left: 0px !important; }
#modify_user_info_ul li { margin-bottom: 130px; }
#modify_user_info_ul li input { width: 25%; padding : 5px; }
#modify_user_info_ul li select { padding: 5px; }

/* #modify_user_email_grid { display: grid; grid-template-columns: 25% 10% auto; } */
#modify_user_email_grid { display: inline-block; width: 100%; }
#modify_user_email_id { width: 20% !important; }

#modify_user_email_input { margin-top: 20px; }
#modify_user_email_input input { width: 30% !important; }

/* #modify_user_email_id { width: 20% !important; } */
/* #modify_user_email_grid div { float: left; width: 45%; } */
/* #modify_user_email_grid div input { width: 30%; } */

/* #modify_user_email_sign { width: 5% !important;  } */
/* #modify_user_email_grid div input { !important; } */

/* #modify_user_select_email_host_div { width: 100% !important; } */
/* #modify_user_email_input { margin-top: 5px; width: 70%; } */

#modify_user_phone_div input { width: 10% !important; }
.modify_user_buttons {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 40%;
}

#modify_user_other_div {
    margin-top: 80px;
    margin-bottom: 60px;
}

#modify_user_other_div div {
    margin-top: 20px;
}

.alert { width: 85% !important; padding-bottom: 20px !important; line-height: 18px; }
.modify_user_alert {
    margin : 15px 0px 0px 0px;
    width: 100%;
    line-height: 15px;
}

#modify_user_host_div {
    margin-bottom: 70px !important;
    /* width: 60%; */
}

#daum_host_api {
    border: solid 2px #ababab;
    border-top: none;
    /* margin : 0px 30% 80px -15%; */
}

#search_first_host {
    margin-left: 30px;
    background-color: white;
    color: #16697a;
}

#daum_host_api_close {
    border: solid 1px #ababab;
    border-top: none;
    font-size: 14px;
    line-height: 25px;
    padding: 5px 0px 5px 15px;
    background-color: #ababab;
}

#modify_user_detail_host_div { margin-top: 100px !important; }
#modify_user_detail_host_div input {
    width: 40% !important;
}

/* #modify_user_submit_div {
    text-align: center;
    background-color: #ababab;
    border-top: solid 1px #ababab;
    border-bottom: solid 1px #ababab;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    margin-bottom: 40px;
} */

#modify_user_submit_button { border: none; background-color: #ababab; color : white; font-size: 23px;
    width: 100%; height: 100px; font-weight: bold; margin-top: 50px;

}


#admin_icon {
    position: absolute;
    width: 25px;
    margin-top: -50px;
    margin-left: 15px;
}

#main_header_right_contents div { padding : 10px 25px 0px 20px; }

/* #modify_user_date_div { margin-left: 10%; } */
#modify_user_info_form {
    margin-top: 80px;
}

#modify_user_other_div { padding: 5px; text-align: center; margin-top: 50px !important; }
#modify_user_other_div div { margin-bottom: 40px !important; }
#modify_user_other_div div input { width: 40%; padding: 10px; background-color: white; border-radius: 10px; }

@media (max-width : 600px) {
    #header_login_info_div div { padding: 0px 25px 0px 0px; }
}

@media (max-width : 430px) {
    #header_alert_close_icon { margin-left: 90% !important; }
    #header_alert_div { padding: 0px 4% 0px 4% !important; }
    .alert_contents_list_div { grid-template-columns: 320px auto !important; }

}

@media (max-width : 400px) {
    #header_alert_div { padding: 0px 6% 0px 6% !important; }
}

@media (max-width : 375px) {
    #header_alert_close_icon { margin-left: 90% !important; }
    #header_alert_div { padding: 0px 40px 0px 40px !important; }
}

@media (max-width : 345px) {
    #header_alert_div { padding: 0px 50px 0px 50px !important; }
}
#header_alert_div { padding: 0px 10px 0px 10px; }
#header_alert_title_div { border-bottom: solid 2px #ababab; padding-bottom: 15px; margin-top: 0px !important; }
#header_alert_close_icon { width: 15px; margin-left: 420px; }
#header_alert_icon { width: 17px; padding-right: 7px; }

#alert_length_title_div { padding: 10px 0px 5px 0px; }
#alert_length_title { font-size: 12px; margin: 0px 0px 0px 0px !important; }
#alert_contents_div { border-top: solid 2px #ababab; border-bottom: solid 2px #ababab; }
.alert_contents_list_div { display: grid; grid-template-columns: 350px auto; padding: 5px; }