#main_header_div {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    border-bottom: solid 1px #ababab;
}

#body_div_left { border-right: solid 1px #ababab; }
#body_div_right { border-left: solid 1px #ababab; }

#body_div {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

#main_header_div #main_header_center {
    text-align: center;
    font-size: 20px;
}

#main_title a {
    text-decoration: none;
    color: black;
}

#main_login_ul {
    list-style: none;
    margin-top: 28px;
    font-size: 14px;
}

#main_login_ul li {
    float: left;
    margin-left: 50px;
}

#main_login_ul li a {
    color: black;
    text-decoration: none;
}

#signup_div {
    display: grid;
    grid-template-columns: 8% 42% 8% 2% 37%;
}

#signup_center_height_line { border-left: solid 1px #ababab; }

#signup_div div { margin-top: 30px; }
#signup_div div ul li { margin-bottom: 40px; }
#signup_div div ul li input { 
    width: 60%;
    margin-left: 5px;
    height: 25px;
    border-radius: 3px;
    padding-left: 5px;
}

#signup_agree_div textarea {
    margin-top: -10px;
    width: 90%;
    height: 70%;
}

#signup_agree_div #signup_argee_checkbox_div {
    margin-top: 10px;
    font-size: 14px;
}

#signup_agree_div #signup_argee_checkbox_div label {
    margin-left: 5px;
}

#signup_agree_mobile_div { display: none; }
#signup_submit_button {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: white;
    width: 215px;
    position: absolute;
    margin: 3% 20% 4% 20%;
}

#signup_complate_div {
    /* border: solid 2px #ababab; */
    margin-top: 8%;
    padding: 0px 0px 5px 0px;
    border-radius: 5px;
    text-align: center;
}


#signup_complate_div h3 { 
    border-bottom: solid 1px #ababab; 
    border-width: 3px;
    width: 50%;
    margin : 0px 25% 0px 25%;
    padding-bottom: 20px;
}

#signup_complate_div p { font-size: 13px; }
#signup_complate_div #signup_complate_select_div {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 80px;
    font-size: 15px;
}

#signup_complate_div #signup_complate_select_div div {
    margin-left: 25%;
    margin-right: 25%;
}

#login_div h3 {
    border-bottom: solid 1px white;
    padding-bottom: 20px;
    margin: 0px 0px 0px 0px;
    font-size: 26px;
}

#login_div #login_form { margin-top: 30px; padding-bottom: 30px; border-bottom: solid 1px white; }
#login_div #login_form div { margin-top: 40px; line-height: 10px; }
#login_div #login_form div input { padding : 4px }

#login_div #login_close_icon {
    position: absolute;
    width: 30px;
    margin: -60px 0px 0px 165px;
}

#login_div #login_button_div button {
    width: 100%;
    background-color: white;
    border: solid 1px white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
}

#login_div #login_other_div {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 15% 25% 5% 45% 15%;
    font-size: 13px;
}

#header_other_div {
    border: solid 1px #ababab;
    border-top: none;
    background-color: #535E53;
    padding: 5px;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    display: grid;
    grid-template-columns: 20% 45% 35%;
}

#header_category_div img {
    width: 35px;
    margin-top: 6px;
    margin-left: 10px;
}

#header_category_div b {
    position: absolute;
    font-size: 16px;
    margin-left: 10px;
}

#header_search_div input {
    width: 45%;
    padding: 3px;
    height: 17px;
}
#header_search_div #header_search_icon {
    position: absolute;
    margin-top: 14px;
    width: 20px;
    border: solid 1px white;
    background-color: white;
    padding: 2px;
}

#header_myPage_div {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    font-size: 14px;
    text-align: center;
}

#main_header #header_other_mobile_div { display: none; }
#header_other_mobile_div {
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    text-align: center;
    padding : 10px 0px 10px 0px;
    border-bottom: solid 1px black;
    font-size: 14px;
}

#my_page_title_div {
    border-bottom: solid 1px #ababab;
    padding: 5px 0px 5px 0px;
}

#my_page_profile_div {
    display: grid;
    grid-template-columns: 2% 25% auto;
    padding: 5px 0px 10px 15px;
    margin-top: 20px;
    border-bottom: solid 1px #ababab;
}

#user_thumbnail_div #user_thumbnail_img {
    border: solid 1px #ababab;
    width: 120px;
    height: 120px;
}

.my_page_info_title_div {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    font-size: 13px;
    color: #ababab;
    height: 62px;
}

.my_page_info_title_div div p {
    font-size: 17px;
    color: black;
    margin-top: 5px;
}

#user_mobile_id_div { 
    display: none;
    margin-top: 20px;
    line-height: 5px;
}

#user_thumbnail_img {
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: 50%;
    background-position-y: 50%;
}

#my_page_select_div {
    margin-top: 60px;
    margin-bottom: 70px;
    padding: 10px;
    display: grid;
    grid-template-columns: 25% auto 25%;
}

.my_page_select_grid_div {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.my_page_select_grid_div .my_page_select_divs {
    border: solid 1px #ababab;
    height: 150px;
    cursor: pointer;
}

.my_page_select_grid_div .my_page_select_divs div { text-align: center; margin-top: 10px; }
.my_page_select_grid_div .my_page_select_divs div u { 
    text-decoration: none;
    border-bottom: solid 1px #ababab; 
    padding-bottom: 2px; 
    font-size: 0.8em;
    color: #ababab;
}

.my_page_icon_img {   
    height: 90px !important;
    border : none !important;
    background-repeat: no-repeat;
    background-size: 80px;
    background-position-y: 5px;
    background-position-x: 50%;
    margin-top: 10px;
}
