#modify_user_info_ul li .alert { width: 100% !important; }

#modify_other_divs h3 { padding-bottom: 30px; }
#modify_other_close { position: absolute; width: 20px; margin: -90px 0px 0px 81%; }

#search_id_and_pw_title { padding-bottom: 20px; margin-bottom: 0px;}
#search_id_and_pw_div #login_close_icon { width: 20px; position: absolute; margin: -55px 0px 0px 370px; }
/* #select_search_type_div { margin-top: 10px; } */
#select_search_type_style_div {height: 40px; line-height: 40px; }
#select_search_type_div div { cursor: pointer; font-size: 13px; }
#search_id_div { border-right: solid 1px #ababab; }

.search_contents_div_style { display: grid; grid-template-columns: 5% auto 5% !important; margin-top: 20px; }
.search_contents_grid_div { display: grid; grid-template-columns: 20% auto; margin-top: 20px !important; margin-left: 20px; font-size: 13px; }
.search_contents_grid_div input { padding: 3px; width: 95%; }

.search_email_input_div input { width: 37% !important; }

.search_submit_div { margin-top: 40px; padding-bottom: 30px; font-size: 13px !important; }
.search_submit_div input { width: 100%; cursor: pointer; border: solid 1px black; padding: 5px 0px 5px 0px; background-color: black; color : white }
#search_id_result_div { margin-top: 50px; font-size: 15px; }

#search_other_div { margin-top: 50px; padding-top: 20px; }
.search_pw_title_style h3 { 
    border-bottom: solid 1px #ababab; padding-top: 10px; padding-bottom: 25px; font-size: 15px;
    font-family: 'TmoneyRoundWindExtraBold';
}
#search_pw_email_contents_div { line-height: 10px; margin-top: 30px; padding-bottom: 20px;}
#search_pw_comfirm_div { margin-top: 40px; }
#search_pw_comfirm_div form input[name=confirm_number] { margin-left: -40px;}
#email_confirm_button { background-color: black; color: white; padding : 2px 5px 2px 5px; position: absolute; margin : 0px 0px 0px 10px; }

.change_pw_divs { display: grid; grid-template-columns: 30% auto; margin-left: 20px; margin-top: 25px; font-size: 13px;}
.change_pw_divs input { padding : 3px; margin-top : -2px; margin-left: 20px; width: 50%; position: absolute; }
#change_password_button { background-color: black; color: white; padding : 3px; height: 30px; width: 100%; margin-top: 35px; margin-bottom: 20px; }

#change_pw_result_div h4 { margin-top: 40px; padding-bottom: 40px; }
#change_pw_other_div { font-size: 14px; }

#close_disable_user_icon { position : absolute; width: 20px; margin: -70px 0px 0px 370px; }
#disable_div h3 { padding-bottom: 30px; margin-bottom: 0px; }
#disable_index_div { display: grid; grid-template-columns: 33% 34% 33%; font-size: 13px; }
#disable_index_div div { padding: 15px 0px 15px 0px; border-bottom: solid 1px #ababab; }
#disable_select_index { color: #03506f; border-bottom: solid 2px #03506f !important; font-weight: bold; cursor : default }

#disable_first_confirm_div { margin: 15px 0px 0px 20px; }
#disable_contents_div { margin-top: 30px; }
.disable_grid_divs { display : grid; grid-template-columns: 25% auto; }
.disable_grid_divs div { margin-bottom: 20px; font-size: 14px; line-height: 30px; }
.disable_grid_divs div input { padding: 3px; width: 80%; }

.submit_button { background-color: black; color: white; border: none; width: 100%; padding: 5px 0px 5px 0px; margin-left: -10px !important; margin-top: 20px; cursor: pointer; }

#disable_second_confirm_div { margin-top: 40px; }
#disable_second_submit_div { margin-top: 45px; }
#disable_second_submit_div input[type=submit], 
#disable_last_confirm_div input[type=submit]
{ background-color: black; color: white; border : none; width: 100%; padding : 3px 0px 3px 0px; margin-top: 30px; }
#disable_last_confirm_div input { padding: 10px !important; margin-top: 50px !important; }

.my_like_list_divs { border: solid 1px black; border-left: none; border-right: none; }
.my_like_list_check_and_number_div { padding: 10px; line-height: 20px; }
.my_like_list_check_and_number_div p { display: inline-block; margin-top: 0px; margin-bottom: 0px; }
.my_like_list_date_div { margin-left: 60px; }

.my_like_list_detail_contents_div { display: grid; grid-template-columns: 220px auto; }
.my_like_list_grid_contents_div { padding: 13px; }
.my_like_list_thumbnail { width: 190px; height: 150px; background-size: cover; background-repeat: no-repeat; background-position-y: 50%; }
.my_like_list_info_div { padding: 10px; padding-top: 15px; padding-left: 15px; }
.my_like_list_name_div, .cart_name_div { margin-top: 10px; display: inline-block; width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-top: 5px;
    white-space: normal; line-height: 1.2; height: 2.4em; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.my_like_price_and_state { margin-left: 10px !important; margin-top: 0px; }
.my_like_price_and_state .my_like_stock_div { margin-top: -10px; }

.my_like_list_each_remove_button { margin-left: 5%; }
.my_like_list_each_remove_button input { background-color: white; color: black; padding: 3px; font-size: 12px; border-radius: 5px; }

.my_like_list_disable_div { position: absolute; width: 70%; height: 225px; background-color: black; color: white; opacity: 0.8; }
.my_like_list_disable_div h2 { margin-top: 30px; }
.my_like_list_disable_div div { margin-top: 50px; }
.my_like_list_disable_div div p input { width: 50%; background-color: white; font-weight: bold; padding: 5px; }

#like_list_other_div { font-size: 14px; margin: 10px; line-height: 30px; }
.select_like_list { background-color: black; color: white; }
#like_list_select_remove_div { float: right; margin-right: 15px; }

#my_page_title_div { line-height: 35px; padding: 40px 0px 40px 0px; text-align: center; }
#my_page_title_div img { width: 30px; position: absolute; margin-left: 0px; }
#my_page_title_div b { font-size: 18px; margin: 0px 0px 0px 50px; }

/* 장바구니 */
#cart_list_div { margin: 80px 60px 0px 60px; }
.cart_goods_list_title { font-size: 20px; border-bottom: solid 1px #ababab; color : #35c5f0; padding-left: 15px; margin: 0px !important; padding-top: 20px; padding-bottom: 20px; }

.cart_div_lists { margin-top: 150px !important; }
#cart_contents_div { padding-top: 20px; padding-bottom: 3px; background-color: #f4f4f4; }

.cart_contents_divs { margin-bottom: 20px; background-color: white; }
.cart_grid_divs { display: grid; grid-template-columns: 145px auto; }

.cart_info_div { padding : 7.5px 0px 7.5px 15px; height: 20px; line-height: 20px; }
.cart_select_divs { float: left; }
.cart_remove_divs { float : right; margin-right: 15px; }
.cart_remove_divs input { background-color: white; padding: 3px 5px 3px 5px; font-size: 12px; border: none;  }

.cart_thumbnail_div div { width: 120px; height: 120px; background-size: contain; background-position-x: center; margin: 10px; background-repeat: no-repeat;}

.cart_name_and_num_div { padding: 15px 0px 0px 15px; display: grid; grid-template-columns: 45% auto; }
.cart_name_div { font-size: 16.5px; margin-right: 15px; margin-top: 0px;}
.cart_price_div { margin-top: 5px !important; }

.cart_num_div { padding-right: 20px; }

.cart_discount_price_div { margin-top: 10px; }
.cart_result_price_div { padding-right: 25px; }
.cart_able_num_div p { margin-top: 15px; padding-right: 20px; padding-bottom: 10px; }

/* #cart_price_show_div { padding-left: 20px; } */
#cart_price_show_div .cart_price_show_grid_div { display: grid; grid-template-columns: 150px auto; }
#cart_delivery_price_div, #cart_coupon_price_div { background-color: #ffe6e6; }

.cart_price_show_grid_div div { padding-left: 20px; }
.cart_price_result_div { padding-right: 30px; }
#final_result_price { background-color: black; color: white; }
#cart_select_div { padding-bottom: 20px; padding-left: 15px; }

.cart_disable_divs { position: absolute; width: 70%; height: 177px; background-color: black; color: white; opacity: 0.8; }
.cart_disable_remove_button { width: 50%; background-color: white; padding : 5px 0px 5px 0px }

.empty_cart_div { margin-top: 70px; padding-bottom: 50px; font-size: 19px; }
.empty_select_div { margin-top: 60px; font-size: 17px; }

#cart_order_select_div div { height: 80px; background-color: #f4f4f4; }

#cart_select_list_remove_button_div { padding-bottom: 15px; margin-left: 10px; padding-bottom: 30px; line-height: 30px; }
#cart_select_list_remove_button_div input { font-size: 12px; border: none; background-color: #f4f4f4; width: 100px; margin: 0px 0px 0px 10px; }

/* #cart_all_result_price_div { background-color: #dff3e3; } */
.cart_price_div_icon { width: 20px; position : absolute; margin: -50px 0px 0px 110px; }

#cart_delivery_price_div { height: 85px; line-height: 35px; }
#cart_delivery_alert_div { min-width: 290px; position: absolute !important;  margin: 50px 0px 0px 20px; }
#cart_middle_layout { height: 50px; }

.cart_grid_div { margin: 15px; line-height: 50px; display: grid; grid-template-columns: 160px auto; font-size: 14px; font-weight: bold; }
#cart_point_div div { margin-top: -15px; }
#cart_add_coupon_button { min-width: 100px; width: 12%; height: 25px; }

/* 장바구니 */
.order_div_style { margin: 50px 60px 120px 60px; }
.order_title_div { font-family: 'Recipekorea'; border-bottom: solid 1px #ababab; padding: 0px 0px 10px 10px; cursor: default; color: #35c5f0;  }
.order_list_divs { display: grid; grid-template-columns: 120px auto; }
.order_list_thumbnail_div { width: 100px; height: 100px; background-size: cover; background-repeat: no-repeat; margin: 10px; }
.order_list_divs { margin-top: 15px; }
.order_list_div { margin: 15px 15px 0px 25px; }

.order_price_div { display : grid; grid-template-columns: 120px auto; text-align: right; margin: 5px 15px 0px 15px; padding: 15px 15px 15px 15px; }
#order_result_price_div { background-color: black; color: white;}

.order_delivery_top_div { font-weight: bold; display: grid; grid-template-columns: 220px auto; margin : 25px 0px 10px 20px;  }
.order_delivery_top_div div input { height: 35px; line-height: 35px; padding-left: 10px; max-width: 80%; border: solid 1px #ababab; }

.order_delivery_input_1 { min-width: 160px; width: 30%; }
#order_delivery_host_code_input { min-width: 100px; width: 20%; }
#order_delivery_host_code_button { min-width: 100px;  border-radius: 5px; height: 40px !important; line-height: 35px; margin-left: 12px; background-color: #35c5f0; color: white; }

.order_delivery_input_2 { width: 95% !important; }
#close_order_delivery_code { width: 20px; margin: -70px 0px 0px 310px; float: left; }

#user_info_agree_input { margin: 5px 0px 0px 10px; }
#order_userInfo_agree_div { margin : 20px 0px 0px 20px; }
#order_agree_notice_div { font-size: 12px; color: #ababab; margin-top:  5px; }

.order_delivery_top_div { font-size: 13px; line-height: 40px; }
#same_delivery_info { margin-left: 10px; font-size: 12px; }

#order_coupon_add_button { background-color: #35c5f0; border: none; min-width: 100px; border-radius: 5px; padding: 0px; }

#cart_coupon_list_div { margin-top: -15px; padding-left: 20px; }
#cart_remove_coupon { width: 20px; position: absolute; margin: 5px 0px 0px 0px; }

#cart_coupon_content_list_div div { float: left; margin-right: 20px; }
#cart_coupon_price_div { background-color: #a3d2ca; }
#cart_coupon_icon { margin-top: -40px; margin-left: 130px; }

#cart_origin_prices_div { border: solid 2px black; }

#order_bill_list_div { margin: 80px 15px 0px 15px !important; font-weight: bold; font-size: 14px !important; }
#order_bill_list_div .order_delivery_top_div { height: 60px; line-height: 60px; margin: 0px 0px 0px 0px !important; border-bottom: solid 1px #ababab; }
#order_bill_list_div .order_bill_contents_div { text-align: right; margin-right: 20px; }
#order_bill_list_div .order_bill_title_div { font-weight: bold; padding-left: 20px; }

#order_bill_result_div { background-color: #ababab; color: white; border-top: solid 2px white; border-bottom: solid 2px white; }
.order_bill_option_div { border-top: dotted 3px #ababab; border-bottom: dotted 3px #ababab !important; color: #ababab; }
/* #order_final_price_bill { background-color: black; color : white; border-top: dotted 3px #ababab; } */

#order_final_price_bill .order_bill_title_div { padding-left: 0px !important; }
#order_final_price_bill .order_bill_contents_div { margin-right: 0px !important; }
#order_final_price_bill { display: grid; grid-template-columns: 45% auto; font-size: 19px; margin-top: 60px; }

input[name=use_point_input] { height: 20px !important; padding: 5px; margin-right: 5px; }
#order_save_user_info_close_icon { width: 20px; float: right; margin-top: -80px; }
#order_save_user_info_agree_div h4 { padding-bottom: 20px; }

#order_save_user_info_contents_div { height: 300px; overflow-y: auto; border: solid 1px #ababab; padding: 10px; }
#order_save_user_info_agree_button { margin-top: 20px; border-radius: 5px; padding: 10px; background-color: #35c5f0; line-height: 25px; height: 20px; }
#order_payment_final_button input{ width: 100%; height: 120px; line-height: 120px; font-size: 22px; background-color: black; color: #35c5f0; }

#order_save_user_info_div { margin-bottom: 0px !important; margin-top: 40px; text-align: right; font-size: 15px; }
#order_save_user_info_div input { height: 30px; line-height: 30px; width: 120px; background-color: #6f9eaf !important; }
#order_point_info_div { margin-top: 50px !important; }
/* #order_payment_final_button input { background-color: black; color: #35c5f0; } */
/* #order_point_info_div .order_delivery_top_div { grid-template-columns: 45% auto; } */

#order_select_payment_type_div { margin: 30px 25px 0px 10px !important; font-size: 15px; line-height: 30px; }
.order_select_divs_title { padding: 10px 15px 2px 15px; color: #ababab; margin-top: 20px; }
.order_select_divs { border-bottom: dotted 1px #ababab; }

#order_payment_agree_div { margin-top: 80px; font-size: 13px; }
#order_payment_agree_div div label { padding-left: 10px; }

#order_payment_agree_div div { margin-bottom: 10px; }
/* .order_select_contnets_div { display: none; } */

/* /////////////////////////////////////////////////////////// */
/* 쿠폰 리스트 */
#coupon_other_div { margin-left: 10px; line-height: 30px; }
#coupon_other_div div { float: left; margin-left: 10px; margin-right: 10px; }
#coupon_list_other_div { background-color: #ababab; color: white; }

#coupon_add_button { width: 120px; height: 30px; margin-left: 20px;  }
#coupon_add_input_div { margin-left: 10% !important; margin-right: 0px !important; }
#coupon_add_input_div input { padding: 3px; padding-left: 5px; }

#coupon_list_div { display: inline-block; width: 100%; margin-top : 90px; }

.coupon_div_style { padding : 3px; height: 30px; line-height: 30px; display: grid; grid-template-columns: 80% auto; }
.coupon_div_style div { padding-left: 15px; font-size: 14px;  border-right: solid 1px white; }
.coupon_list_divs { padding: 8px 3px 8px 3px; height: auto; line-height: 30px; }

.coupon_name_div { padding-right: 15px; }
.coupon_name_div div { padding-left: 0px !important; border-right: none; }
.coupon_name_div h4 { margin-top: 5px; margin-bottom: 5px; font-size: 16px;  }
.coupon_price_divs { line-height: 25px; margin-top: 20px; }
.coupon_limit_date_div { margin-top: 20%; }

#coupon_list_each_close_button { position : absolute; width: 20px; right: 30px; }
#coupon_list_each_div h3 { padding-bottom: 15px; }
#coupon_list_each_add_div { display: grid; grid-template-columns: 100px auto; line-height: 25px; font-size: 13px; }
#coupon_list_each_input { padding : 3px; padding-left: 5px; width: 60%; }
#coupon_list_submit_button { width: 70px; margin-left: 20px; height: 25px; }

#coupon_list_each_divs { margin: 5px; margin-top : 30px }
#coupon_list_able_length_title { height: 25px; }
#coupon_list_contents_divs { padding: 10px; border-radius: 2px; max-height: 250px; overflow-y: auto; }

.coupon_list_each_contents_div { margin: 10px; padding: 5px; display: grid; grid-template-columns: 70% auto; }
.coupon_list_each_name_div h4 { margin-top: 5px; margin-bottom: 5px; padding: 3px; width: 95%; height: 14px; }
.coupon_list_each_price_div { font-size: 13px; margin-top: 10px; padding: 10px; border-top: dotted 1px #ababab; }
.coupon_list_each_date_div b { display: inline-block; margin-top: 30% !important; text-align: center; width: 70%; margin-left: 17.5%; }

#coupon_list_result_div { border-top: dotted 2px black; padding-top: 10px; display: grid; grid-template-columns: 30% 3% 30% 3% 34%; line-height: 25px; margin-top: 30px; font-size: 13px; }
#coupon_submit_button_div { height: 30px; line-height: 30px; font-size: 13px; margin-top: 10px; }
.select_coupon { border : solid 3px #35c5f0 }

/* ////////////////////////////////////////////////////// */
#order_complate_div { margin: 60px 50px 0px 50px; }
#order_complate_comment_div { color: #11698e; }
#order_complate_cart_list_div { margin-top: 100px; }
.order_complate_cart_list { display: grid; grid-template-columns: 120px auto; margin-bottom: 25px; border-bottom: dotted 1px #ababab; padding-bottom: 10px;  }
.order_complate_thumbnail_div { width: 100%; height: 100px; background-size: contain; background-repeat: no-repeat; background-position-x: center; margin : 5px; }
.order_complate_list_contents_div { margin: 15px 10px 0px 30px; }
.order_complate_list_contents_name { height: 2.2em; }
.order_complate_price_div { margin-top: 20px; }

.order_complate_divs { margin-top: 100px; }
#order_complate_payment_div { padding: 5px; border-radius: 5px; }
#order_complate_payment_grid_div { margin : 0px 20px 0px 20px !important; display: grid; grid-template-columns: 40% 40% 20%; }
.order_complate_price_grid_div { display: grid; grid-template-columns: 90px auto; }
.order_complate_price_contents_div { height: 70px; line-height: 50px; font-size: 14px; margin-top: 40px; }
#order_complate_discount_div { line-height: 30px; margin-left: 0px; color: #35c5f0; font-weight: bold; }

.order_complate_contents_grid_div_name { font-weight: bold; text-align: right; margin-right: 5px; }

#order_complate_only_final_price { font-size: 20px !important; text-align: right; margin-right: 20px; }
#order_complate_only_final_price h4, #order_complate_only_final_price div { float: left; }
#order_complate_only_final_price .order_complate_price_contents_div { display : contents; line-height: 85px; margin-top: 15px; font-size: 20px; }

/* #order_complate_contents_div { line-height: 35px; } */
#order_complate_info_div { margin-bottom: 50px; }
.order_complate_contents_grid_div { display: grid; grid-template-columns: 130px auto; font-size: 14px; margin-bottom: 20px; }
.order_complate_num_div { display: grid; grid-template-columns: 57% auto; }
#bank_pay_comment { text-decoration: none; font-weight : bold; color : #ababab; margin-left: 10px; }
/* ////////////////////////////////////////////////////// */

#order_list_origin_page { margin: 35px 40px 0px 40px !important; }
/* #order_list_date_grid_div { display: grid; grid-template-columns: 410px auto; } */
#order_list_set_date_div { line-height: 20px; display: grid; grid-template-columns: 100px auto; }
#order_list_set_date input { width: 100px !important; padding: 4px; }

.order_list_select_grid_div { line-height: 30px; margin-top: 20px; display: grid; grid-template-columns: 20% 20% 20% 20% 20%; }
.order_list_select_grid_div div { font-size: 11px !important; border: solid 1px #ababab; border-radius: 5px; text-align: center; width: 80%; cursor: pointer; }
/* .order_list_select_grid_div div { float: left; min-width: 60px; cursor: pointer; border : solid 1px #ababab; text-align: center; border-radius: 5px; margin-left: 5px; } */
#select_month { background-color: #35c5f0; color: white; font-weight: bold; }
#filter_month { background-color: #6f9eaf; }

#order_list_search_option_div { border-top: solid 1px #ababab; margin-top: 20px; min-height: 350px; }
#order_list_empty_title { margin-top: 80px; }

#order_list_option_div { margin-top: 60px; border-bottom: dotted 1px #ababab; padding-bottom: 15px;}
#order_list_option_div h4 { color: #35c5f0; border-bottom: dotted 1px #aabbaa; margin-top: 20px; padding-bottom: 15px; }
#order_list_option_ul { margin-left: 10px; font-size: 12px; line-height: 25px; }
#order_list_option_ul li b { margin-left: 5px; }

.order_list_remove_icon { width: 12px; position: absolute; margin: 7.5px 0px 0px 10px; cursor: pointer; }

#order_length_result_div { margin-top: 90px; font-size: 14px; display: grid; grid-template-columns: 60% 40%; }
#order_list_select_page_cnt { line-height: 60px; }
#order_list_page_cnt_select { padding: 5px; }
#order_list_contents_div { margin-top: 20px; border-top: solid 1px #ababab; }

.order_list_contents_divs { margin-top: 10px; margin-bottom: 15px; padding-bottom: 15px; border-bottom: dotted 1px #ababab; }
.order_list_top_div { display: grid; grid-template-columns: 20% 50% auto; }
.order_list_contents_date_div { text-align: center; margin-right: 10px; }

.order_list_contents_grid_div { display: grid; grid-template-columns: 60% auto; }

.order_list_middle_div { margin-top: 20px; display: grid; grid-template-columns: 70% auto; }
.order_list_contents_title_div { font-weight: bold; font-size: 15px; margin-left: 10px; width: 85%; }
/* #order_list_date_select_gird_div { display: grid; grid-template-columns: 70% 30%; } */

.order_list_price_info_and_move_div { display: grid; grid-template-columns: 60% auto; margin-top: 20px; }
.order_list_detail_move_div { text-align: right; margin-right: 10px; }

.order_list_back_move_div { border-bottom: solid 2px black; height: 60px; line-height: 65px; background-color: black; color: white; font-size: 18px; }
.order_list_back_move_div div { padding-left: 20px; }

#order_list_contents_info_div { margin-top: 35px !important; }
.order_list_detail_info_div { margin: 80px 20px 0px 20px !important; padding-bottom: 30px; }

.order_list_contents { margin-left: 20px; margin-right: 20px; font-size: 14px; line-height: 30px; }
.order_list_bank_ment { margin-top: 0px; color: #ababab; font-size: 13px; margin-left: 20px; }

#order_list_goods_list_div { border-bottom: solid 2px black; padding-bottom: 0px; }
.order_list_goods_div { display: grid; grid-template-columns: 100px auto; margin: 20px 10px 10px 10px; padding-bottom: 10px; }
.order_list_goods_thumbnail_div { width: 70px; height: 70px; background-repeat: no-repeat; background-size: contain; margin-left: 10px; }
.order_list_goods_contents_div { font-size: 14px; margin-left: 10px; }
.order_list_num_and_price { margin-top: 25px; }
.order_list_num_and_price p input { margin-right: 5px !important; margin-top: 5px; font-size: 12px; }

.order_list_goods_name_div { line-height: 1.0; width: 98%; }

#order_list_price_info_div { margin-top: 0px; }
.order_list_price_info_divs { display: grid; grid-template-columns: 130px auto; line-height: 50px; border-bottom: dotted 1px #ababab; font-size : 14px }
.order_list_price_title_div { padding-left: 10px; border-right: solid 1px #ababab; padding-right: 15px; }
.order_list_price_contents_div { text-align: right; margin-right: 20px; }

#order_list_point_and_coupon_info { margin-top: 40px; font-size: 14px; margin-left: 38px; margin-right: 30px; }
#order_list_coupon_price_div { margin-top: 5px; }

#order_list_other_function_div { margin-top: 40px; }
#order_list_other_function_div div { float: right; font-size: 13px; margin-right: 30px; }
#order_list_other_function_div div u { cursor: pointer; }

#order_cancel_title { border-bottom: solid 1px #ababab; padding-bottom: 20px; }
#order_cancel_icon { position: absolute; width: 20px; margin : -80px 0px 0px 300px }
#order_cancel_contents_div { margin-left: 10px; margin-right: 10px; }
select[name=order_cancel_reason] { display: block; width: 100%; padding: 5px; margin-top: 10px; }
#order_cancel_submit { width: 100%; padding: 9px; margin-top: 60px; }

#custom_cancel_reason_input { display: none; border: none; padding-left: 10px; margin-top: -27px; margin-left: 2px; width: 270px; padding: 4.5px; position: absolute; }

.order_list_filter_list_div { display: grid; grid-template-columns: 33% 34% 33%; margin-top: 20px; line-height: 20px; font-size: 13px; }
.order_list_filter_select, .order_list_filter_input { padding: 5px; width: 114px; cursor: pointer; border-color:black; font-size: 13px; }
.order_list_filter_input { width: 100px; border-color: #ababab; }

.order_list_filter_price_input { width: 55px !important; }
#order_list_max_price_input { margin-left: 2.5px; }

.order_filter_search_icon { border: solid 2px #ababab; padding: 5.2px; cursor: pointer; width: 15px; position: absolute; margin: 0px 0px 0px 5px; }
#order_list_filter_reload { width: 20px; position: absolute; margin: -57px 0px 0px 95px; }

.order_list_filter_alert { position: absolute; margin-top: 15px; font-size: 12px; }
.order_list_paging_div { margin-top: 70px; padding-bottom: 40px; }


.order_list_review_info_div { border-top : dotted 1px #ababab; border-bottom: dotted 1px #ababab; padding : 15px 10px 15px 10px; background-color: #d3e0ea; }
.order_list_star_and_date_div { padding-bottom: 10px; }
.order_list_star_div div { float : left; }

.order_list_review_title_and_contents_div { margin-top : 5px; border-top: solid 1px #ababab; padding-top: 5px; }
.order_list_review_title_div { line-height: 20px; display: grid; padding: 5px 0px 10px 0px; grid-template-columns: 38px auto; font-size: 17px; font-weight: bold; padding-bottom: 10px; border-bottom: dotted 1px #ababab; }
.order_list_review_title_other_div { border-right: solid 2px #ababab; font-size: 12px; font-weight: 400; }
.order_list_reivew_title_info_div { padding-left: 15px; }

.order_list_review_contents_div { padding-top: 10px; }
.order_list_review_remove_div { padding : 10px 0px 25px 0px; }
.order_list_review_remove_div input { padding: 5px 10px 5px 10px; background-color: white; font-size: 11px; }

.order_list_review_remove_complate_div { padding: 5px 10px 10px 10px; display: grid; grid-template-columns: 140px auto !important; }


/* ////////////////////////////////////////////////// */
#my_page_qna_loading_img { background-position-y: center; background-position-x: center; background-size: 300%; background-repeat: no-repeat; width: 100px; height: 100px; display: inline-block; zoom: 1; }
#mypage_qna_loading_div { margin-top: 60px; }
#mypage_qna_contents_div { margin : 25px 40px 0px 40px !important; }
#mypage_qna_main_empty_div { padding: 40px 0px 40px 0px; }
#mypage_qna_length_div { margin-top: 50px; }
#mypage_qna_contents_show_div { margin-top: 5px; }

.mypage_qna_main_list_div { padding: 10px 0px 10px 0px; }
/* .mypage_qna_main_list_date_info_div { display: grid; grid-template-columns: 120px auto; border-bottom: solid 1px #ababab; padding-bottom: 10px; }
.mypage_qna_state_info_grid_div div { float: right; margin-left: 30px; line-height: 25px; } */

.mypage_qna_other_grid_div { padding: 10px; display: grid; grid-template-columns: 80px auto; font-size: 12px; }
.mypage_qna_other_div_1 div { float: left; margin-right: 10px; }
.mypage_qna_other_div_2 div { float: right; margin-left: 25px; }
.mypage_qna_remove_button { font-size: 12px; background-color: white; border : none; color: #ababab;}
/* .mypage_qna_other_div_2 { display: grid; grid-template-columns: 80% 10% 10%; text-align: right !important; }/d */

.mypage_qna_goods_and_reivew_info_div { display: grid; grid-template-columns: 335px auto; padding : 5px 0px 20px 0px; }
.mypage_qna_goods_and_price_grid_div { display: grid; grid-template-columns: 85px auto;  }

.mypage_qna_goods_info_thumbnail { width: 70px; height: 70px; border: solid 1px #ababab; margin: 5px; background-size: contain; background-repeat: no-repeat; }
.mypage_qnd_goods_info_div { padding: 10px 0px 5px 5px; }
.mypage_qnd_goods_name_div { font-weight: bold; margin-top: 20px; font-family: 'Recipekorea'; width: 90%; }
.mypage_qnd_goods_price_div { margin-top: -2px !important; }

.mypage_qna_info_div { border-left: solid 2px #ababab; padding-left: 15px; }
.mypage_qna_info_div div { line-height: 15px; }

.mypage_qna_question_div { height: 35px; padding-top: 10px; }
.mypage_qna_info_grid_div { font-size: 14px; display: grid; grid-template-columns: 30px auto; border-bottom: dotted 1px #ababab; }
.mypage_qnd_anwser_div { padding-top: 10px; }

.mypage_select_qna_list { background-color: #ece2e1; }
#mypage_all_select { margin-right: 20px !important; }
#mypage_qna_all_check_label { margin-left : 10px }
#mypage_qna_select_info_div { display: grid; grid-template-columns: 160px auto;  margin-top: 25px !important; font-size: 13px; padding-bottom: 5px; }

#mypage_qna_filter_list_div { background-color: #ece2e1; font-size : 13px; padding: 0px 10% 10px 10%; border-bottom: solid 1px #ababab; margin: -25px -40px 0px -40px !important; }
#mypage_qna_view_filter_div { display : grid; grid-template-columns: 33% 34% 33%; }
#mypage_qna_view_filter_div div ul { list-style: none; }
#mypage_qna_view_filter_div div ul li { line-height: 25px; }
#mypage_qna_view_filter_div div ul li u { text-decoration: none; cursor: pointer; }

#mypage_qna_search_div { margin-top: 20px; font-size: 12px; }
#mypage_qna_search_grid_div { display : grid; grid-template-columns: 40% auto; border-top: dotted 1px #ababab; padding: 15px 0px 10px 0px; }
#mypage_qna_search_grid_div div input { border: none; border-bottom: solid 1px #ababab; padding: 3px; }
input[name=search_goods_id] { width: 50px;  text-align: center; background-color: #ece2e1 }
input[name=search_contents] { width: 60%; background-color: #ece2e1 }
.mypage_qna_search_button, .mypage_review_search_button { width: 15px; border: none !important; position: absolute; margin-top : 3px; margin-left : 5px }

#mypage_qna_filtering_div { margin-top: 50px; }
#mypage_qna_filter_reset_button { margin: 0px 0px 0px 10px; width: 18px; position: absolute; }
#mypage_qna_filtering_div ul li { padding-bottom: 10px; }
.mypage_qna_remove_filter_icon { cursor : pointer; width: 12px; position: absolute; margin: 4px 0px 0px 15px; }

#mypage_review_info_div { padding : 20px 45px 10px 45px; }
#mypage_review_length_title { margin-top: 30px }
#mypage_reivew_info_list_div { margin-top : 10px; padding: 30px 0px 35px 0px; }

/* .mypage_review_list_div { padding: 10px 0px 10px 0px; } */
.mypage_review_list_div { padding: 10px 0px 40px 0px; }

.mypage_review_other_list_div { display: grid; grid-template-columns: 300px auto !important; line-height: 35px; }
/* .mypage_review_star_and_date_div { margin-top : 3px } */
.mypage_review_remove_button { border: none; background-color: white; font-size: 12px; }

/* .mypage_review_other_grid_div {  } */
/* .mypage_review_star_and_date_grid_div { margin-top: 3px; } */
.mypage_review_star_and_date_grid_div { padding-right: 10px; }
.mypage_review_other_grid_div div, .mypage_review_star_and_date_grid_div div { display: inline-block; }
.mypage_review_other_grid_div { padding-left: 10px; }
.mypage_review_other_grid_div div { margin-right: 10px; }
.mypage_review_remove_div { margin-left: 10px; }
/* .mypage_review_other_grid_div { display: grid; grid-template-columns: 35px 120px 120px; } */
/* .mypage_review_star_and_date_grid_div { display: grid; grid-template-columns: 45% 40% auto; } */

.mypage_review_goods_info_and_contents_div { margin-top: 20px; display: grid; grid-template-columns: 350px auto; }
.mypage_review_goods_thumbnial { width: 80px; height: 80px; background-size: contain; background-repeat: no-repeat; }
.mypage_review_goods_thumb_and_star { font-size: 10px; border : solid 1px #ababab; padding : 10px; background-color: white; }

.mypage_review_goods_info_div { display: grid; grid-template-columns: 100px 240px auto; padding-left: 10px;  }
.mypage_review_goods_name_and_price_div { padding: 10px 10px 0px 20px; border-right: solid 3px #ababab; }
.mypage_review_goods_name_div { line-height: 1.5; margin-top: 10px; font-size: 17px; margin-right: 5px; }

.mypage_review_goods_num_and_price_div { font-size: 12px; margin-top: 35px; }
.mypage_review_star_div { border-bottom: solid 1px #ababab; }
.mypage_review_title_div { height: 30px; line-height: 30px; display: inline-block; width: -webkit-fill-available; overflow: hidden; text-overflow: ellipsis; line-height: 3; }
.mypage_review_contents_div { height: 50px; }
.mypage_review_contents_div div { padding : 0px 0px 10px 15px; }

#mypage_loading_scrolling { background-color: black; padding : 20px 0px 20px 0px; color: white; text-align: center; margin-top: -40px; opacity: 0.8; }

#mypage_all_select_div { padding : 20px 0px 5px 0px; min-height: 15px;}
#mypage_review_select_remove_button { border: none; font-size: 13px; background-color: white; font-weight: bold; }

#mypage_review_all_filter_div { background-color: #ece2e1; border-bottom: solid 1px #ababab; padding: 20px 10px 25px 10px; } 
#mypage_review_filter_div { display: grid; grid-template-columns: 33% 34% 33%; line-height: 35px;  }
#mypage_review_filter_div div u { cursor: pointer; text-decoration: none; }
#mypage_review_custom_star_select { font-size: 12px; padding: 3px; }

#mypage_review_filter_option_div { padding: 15px 15px 0px 15px; border-top : solid 2px #ababab; margin-top: 30px; }
#mypage_review_filter_option_div h4 { margin: 15px 0px 5px 0px !important; }
#mypage_review_filter_option_list_div { font-size: 12px; margin-left: 30px; line-height: 30px; }
/* .mypage_review_filter_remove_icon { width: 15px; position } */

#mypage_review_filter_option_list_div li img { margin : 8px 0px 0px 10px; }
#mypage_review_search_filter_div { display: grid; grid-template-columns: 45% auto; margin-top: 20px; border-top: dotted 1px #ababab; padding : 30px 20px 0px 20px }
#mypage_review_search_filter_div div input { background-color: #ece2e1; border: none; border-bottom: solid 1px #ababab; }

#sebot_title_div { padding: 30px 0px 10px 0px; border-bottom: solid 2px #ababab; }
#sebot_title_div img { width: 50px; }
#sebot_title_div h3 { display: inline-block; padding-left: 10px; }
#sebot_title_div p { margin-top: -5px; }

#sebot_chat_div { margin: 15px; }
#sebot_chat_contents_div { background-color: #a1cae2; height: 500px; overflow: auto; border: solid 3px #ababab; border-radius: 5px; }

#sebot_chating_grid_div { display: grid; grid-template-columns: 92% auto; }
#sebot_chating_grid_div div input { width: -webkit-fill-available; border: solid 2px #ababab; }

input[name=chat] { padding: 5px; }
input[name=chat_submit] { padding: 5px; background-color: white; font-size: 12px; }

#disable_chating { background-color: #e7e6e1; color: #ababab }

.sebot_chat_div, .chating_result_div { padding: 15px; }
.sebot_chat_grid_div { padding-top: 5px; font-size: 13px; }
.sebot_chat_grid_div .sebot_chat_icon_div { display: inline-block; background-size: cover; width: 30px; height: 30px; }
.sebot_chat_grid_div .sebot_chat_contents_div { display: inline-block; padding: 5px; margin: 0px 0px 0px 15px; }

.my_chat_name_div { padding-bottom: 10px; }
.chat_contents_div { 
    font-size: 13px; border: solid white 1px; background-color: #fff76a; border-radius: 5px; padding: 5px 10px 5px 10px;
}
.chat_date_div { margin-top: 10px; }
#chat_move_bottom_div { margin-top: -65px; opacity : 0.8; border : solid 1px #ababab; text-align: center; background-color: black; color: white; }

#sebot_keyword_div { padding: 20px 10px 0px 10px; margin-top: 50px; }
#sebot_keyword_list_div { border-top: solid 2px #ababab; }
.sebot_keyword_top_div { padding: 10px 0px 0px 0px; font-size: 13px; }
.sebot_keyword_grid_div { display: grid; grid-template-columns: 80px auto; border-bottom: dotted 1px #ababab; padding: 5px 0px 5px 0px; }
.sebot_keyword_contents_div div { display: inline-block; padding: 0px 10px 0px 10px; }
.sebot_keyword_contents_div div u { cursor: pointer; text-decoration: none; color: #ababab; }

#sebot_other_div { line-height: 35px; }
#sebot_keyword_line_div { padding: 50px 0px 10px 0px; font-size: 15px !important; }
.chat_goods_select_title_div { padding-bottom: 10px; }
.chat_goods_select_result_div { font-size: 13px; color: #ababab; padding-top: 5px; border-top: solid 1px #ababab; }

.chat_goods_select_info_div { margin-top: 20px; display: grid; grid-template-columns: 60px auto; }
.chat_goods_select_thumbnail { width: 50px; height: 50px; }
.chat_goods_select_thumbnail img { width: 50px; }
.chat_goods_select_name { font-family: 'paybooc-Bold'; display: inline-block; width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  }
.chat_goods_select_price_div { padding-top: 10px; color: #ababab; }

.chat_goods_select_search_div { height: 25px; line-height: 25px; background-color: black; color : white; cursor: pointer; font-size: 10px; text-align: center; margin-top : 10px; border-top: solid 2px #ababab; }

@media (max-width : 1200px) {
    #order_list_filter_grid_div { display: grid; grid-template-columns: 50% 50%; }
    .order_list_filter_list_div { display: block; line-height: 40px; }
    .order_list_filter_select, .order_list_filter_input { width: 140px; }
    .order_filter_search_icon { margin-top: 6px; }
}

@media (max-width : 1130px) {
    .mypage_qna_goods_and_reivew_info_div { grid-template-columns: 235px auto; }
}

@media (max-width : 1051px) {
    #coupon_add_input_div { margin-top: 0px !important; }
    #order_list_origin_page { margin-left: 20px !important; margin-right: 20px !important; }
}

@media (max-width : 950px) {
    /* .mypage_review_other_list_div { grid-template-columns: 300px auto !important; } */
    /* .mypage_review_list_div { line-height: 20px; padding: 10px 0px 10px 0px; } */
    /* .mypage_review_list_div { line-height: 20px; } */
    /* .mypage_review_other_list_div { grid-template-columns: 300px auto !important; } */
}

@media (max-width : 950px) {
    #cart_list_div { margin-left: 30px; margin-right: 30px !important; }
    #order_complate_payment_grid_div { margin-left: -10px !important; margin-right: -10px !important; }
}

@media (max-width : 880px) {
    .my_like_list_disable_div { width: 100%; }
    .cart_disable_divs { width: 100%; }

    #mypage_qna_search_grid_div { grid-template-columns: 45% auto; }
    /* .mypage_review_other_list_div { grid-template-columns: 430px auto !important; } */

}

@media (max-width : 800px) {

}

@media (max-width : 660px) {
    .cart_name_and_num_div { display: block; }
    .cart_price_div { margin-top: 5px !important; }
    /* .cart_able_num_div { display: inline-block; } */
    .cart_thumbnail_div div { height: 90%; background-position-y: center; }

    .cart_name_and_num_div { padding: 0px; }
    .cart_name_and_price_div { padding: 20px; }

    .cart_num_result_div { margin-top: 10px; border-top: solid 1px #ababab; padding: 15px; padding-top: 20px; padding-bottom: 5px; }
    /* .cart_able_num_div p { width: 100%; display: inline-block; margin-top: 10px; padding-left: 12px; } */

    .cart_disable_divs { height: 338px; }
    .cart_disable_divs .cart_disable_title_div { margin-top : 90px !important }

    #coupon_add_input_div { margin-left: 10px !important; }
    #order_complate_payment_grid_div { margin: 0px !important; }

    .mypage_qna_goods_and_reivew_info_div { display: block; }
    .mypage_qna_info_div { margin-top: 25px; padding-left: 0px; }
    .mypage_qna_info_title_div { padding-left: 10px; }
    .mypage_qna_info_grid_div { grid-template-columns: 40px auto; }

    .mypage_review_goods_info_div { grid-template-columns: 100px auto; }
    .mypage_review_goods_name_and_price_div { border-right: none; }
    .mypage_review_goods_info_and_contents_div { display: block; }
    .mypage_review_contents_div { height: auto; margin-top: 10px; background-color: aliceblue; padding : 10px 0px 10px 0px }

    /* .mypage_review_other_list_div { grid-template-columns: 280px auto !important; line-height: 24px; } */

}

@media (max-width : 630px) {
    /* .mypage_qna_goods_and_reivew_info_div { grid-template-columns: 85px auto !important; } */

}

@media (max-width : 620px) {
    .order_list_top_div { grid-template-columns: 22% 42% auto; }
    .order_list_middle_div { grid-template-columns: 64% auto; }
}

@media (max-width : 600px) {
    #order_agree_notice_div { margin-top: -15px; }

    #goods_other_div div { font-size: 12px; }
    .order_delivery_top_div { grid-template-columns: 140px auto; }
    #order_delivery_info_div { font-size: 14px; line-height: 40px; }

    #order_complate_payment_grid_div { display: inline-block; width: 100%; }
    .order_complate_payment_other_div { display: grid; grid-template-columns: 120px auto; text-align: left; }
    .order_complate_price_contents_div { margin-top: 8px; text-align: right; }
    #order_complate_discount_price_div { border-bottom: solid 1px black; padding-bottom: 20px; }

    .order_complate_price_grid_div { grid-template-columns: 55% auto; }
    .order_complate_num_div { display: block; }
    .order_complate_contents_grid_div div { text-align: right; }
    .order_complate_contents_show_div { text-align: left !important; }
    /* .coupon_div_style { grid-template-columns: 80px 65% auto; } */

    .order_list_contents_grid_div { display: none; }
    .order_list_top_div { grid-template-columns: 35% auto }
    .order_list_middle_div { grid-template-columns: 100% }
    .order_list_contents_date_div { text-align: right; }

    .order_list_responsive_div { display: grid !important; line-height: 20px; }
    .order_list_bottom_div { display: grid !important; grid-template-columns: 50% auto !important; margin-top: 20px; }

    .order_list_bank_ment { float : right }
    #order_list_point_and_coupon_info { line-height: 30px; margin-top: 30px; margin-left: 10px; }
    #order_list_point_and_coupon_info div { text-align: left; }

    #order_list_filter_grid_div { display: block !important; }
    .order_list_price_info_and_move_div { margin-top: 0px; display: block; width: auto; text-align: right; line-height: 25px; }
    .order_list_detail_move_div { margin-top: 0px; }

    .order_list_filter_list_div { display: grid; }
    .order_list_filter_input { width: 92px; }

    .order_list_filter_price_input { width: 90px !important; }
    #order_list_max_price_input { margin-left: 0px !important; }

    #mypage_qna_search_grid_div { display: block; }
    input[name=search_contents] { width: 65%; }

    #mypage_review_info_div { padding : 20px 20px 0px 20px }
    #sebot_chating_grid_div { grid-template-columns: 85% auto; }

}

@media (max-width : 570px) {
    input[name=coupon_add_code] { width: 30%; }
    #coupon_add_button { width: 80px; font-size: 11px; }
}

@media (max-width : 550px) {
    #order_delivery_host_code_input { min-width: 80px; width: 15%; }

    /* .coupon_div_style { grid-template-columns: 80px auto; } */
    /* #coupon_date_other_div, .coupon_limit_date_div { display: none; } */

    #coupon_name_other_div, .coupon_name_div { border-right: none !important; }

    #cart_coupon_list_div { grid-template-columns: 5px auto !important; line-height: 20px !important; }
    #cart_remove_coupon { margin-top: 0px; }

    /* .order_complate_num_div { display: grid; grid-template-columns: 50% auto; } */
    #mypage_review_info_div { padding: 20px 20px 0px 20px !important; }

    .mypage_qna_create_date_div { position: absolute; margin-top: -22px; right: 30px; }
    /* .mypage_qna_state_div { line-height: 3 !important; } */
    .mypage_qna_other_grid_div { line-height: 3.5 !important; padding-bottom: 0px; }
    .mypage_qna_goods_and_reivew_info_div { padding-top: 5px; }

}

@media (max-width : 500px) {
    .order_div_style { margin-left: 30px; margin-right: 30px; }
    .order_list_divs { grid-template-columns: 90px auto; }
    .order_list_thumbnail_div { width: 80px; height: 80px; }
    .order_list_divs { margin-top: 5px; }
    .order_title_div { margin-bottom: 10px; }

    .order_delivery_top_div { grid-template-columns: 120px auto; }
    #order_delivery_info_div { font-size: 13px; line-height: 35px; }

    #order_complate_cart_list_div { margin-top: 70px; }
    #coupon_empty_div { text-align: center; margin-left: 0px !important; }
    #order_complate_div { margin-left: 10px; margin-right: 10px; }
    /* #order_bill_list_div { margin: 80px 15px 0px 15px !important; } */

    #order_complate_payment_grid_div { margin-left: 0px !important; margin-right: 0px !important; }
    #order_complate_contents_div { margin-right: 20px; }
    .order_list_bottom_div { grid-template-columns: 60% auto !important; }

    .order_list_filter_list_div { display: block; }
    .order_list_filter_select { width: 180px; }
    .order_list_filter_input { width: 160px; }

    .order_list_filter_price_input { width: 65px !important; }
    #order_list_max_price_input { margin-left: 2.5px !important; }

    #order_length_result_div { display: block; text-align: center; }
    #order_list_select_page_cnt { line-height: 0px; }

    #mypage_qna_filter_list_div { padding: 3px 7.5% 10px 7.5% !important; margin: -25px -20px 0px -20px !important; }
    #mypage_qna_contents_div { margin : 35px 20px 0px 20px !important }

    .mypage_review_other_list_div { grid-template-columns: 160px auto !important; }
    .mypage_review_goods_info_and_contents_div { margin-top: 20px; }

    #mypage_review_info_div { padding : 50px 0px 0px 0px !important; }
    #mypage_review_length_title { padding-left: 10px; }
    /* #mypage_reivew_info_list_div { padding-left: 10px; padding-right: 10px; } */

    #mypage_reivew_info_list_div { padding : 0px; }
    .mypage_review_list_div { padding: 15px 0px 15px 0px; }
    #mypage_all_select_div { padding: 5px 10px 5px 10px; }
    /* .mypage_review_other_grid_div { padding-left: 5px; } */

    #mypage_review_filter_div { display: block; text-align: left !important; }
    #mypage_review_all_filter_div { padding: 0px !important; }
    #mypage_review_filter_div .mypage_review_filter_float_div { border-bottom: dotted 1px #ababab; padding: 5px 15px 5px 15px; }
    #mypage_review_filter_div .mypage_review_filter_float_div div { display: inline-block; margin-right: 30px; }
    #mypage_review_filter_div .mypage_review_filter_float_div #mypage_review_custom_star_div { margin-right: 0px !important; }
    #mypage_review_remove_filter_div { border-bottom: solid 1px #ababab !important; }
    /* #mypage_review_filter_div */

    #mypage_review_all_filter_div { border-bottom: none !important; }
    #mypage_review_filter_option_div { margin-top: 0px; padding-bottom: 15px; border-bottom: solid 3px #ababab; }

    #mypage_review_search_filter_div { border-top: none; margin-top: 0px; padding: 25px 0px 25px 15px; display: block; line-height: 30px; }
    .mypage_review_search_button { margin-top: 8px; margin-left: 10px; }
}

@media (max-width : 450px) {
    .order_delivery_top_div { grid-template-columns: 120px auto; margin-left: 0px; }
    #order_delivery_info_div { font-size: 13px; line-height: 35px; }

    #cart_list_div { margin-left: 15px; margin-right: 15px !important; }
    #cart_coupon_list_div { margin-left: 20px; }

    #order_bill_list_div { margin-left: 0px !important; margin-right: 0px !important; }
    .order_list_bank_ment { float: none !important; }

    .order_list_star_and_date_div { grid-template-columns: 40% auto !important; }
}


@media (max-width : 424px) {
    .my_like_list_thumbnail { width: 150px; }
    .my_like_list_detail_contents_div { grid-template-columns: 170px auto; }
    .my_like_list_grid_contents_div { padding: 8px; } 
    .my_like_price_and_state { margin-top: -5px; }
    .my_like_list_name_div { margin-top: 0px; }

    .my_like_list_disable_div { width: 100%; height: 215px;}
    .my_like_stock_div { font-size: 11px; }

    #cart_price_show_div .cart_price_show_grid_div div { padding-left: 15px !important; padding-right: 20px; }
    #coupon_add_input_div { font-size: 12px !important; }

    #coupon_list_each_div { margin-left: 10px; margin-right: 10px; overflow-y: auto; }
    .coupon_list_each_name_div h4 { font-size: 14px; }
    #coupon_list_contents_divs { padding: 5px; }

    #order_list_set_date_div { font-size: 12px !important; grid-template-columns: 100px auto !important; }
    #order_list_origin_page { margin: 30px 10px 0px 15px !important; }

    /* #order_list_set_date div { float: left !important; } */
    #order_list_set_date input { width: 80px !important; }
    #order_list_discount_grid_div { display: block; }

    .order_list_star_and_date_div { display: block; line-height: 18px; }
    .order_list_review_date_div { display: inline-block; width: -webkit-fill-available; text-align: left !important; }

    #sebot_chat_div { margin: 15px 5px 0px 5px; }
    /* .mypage_review_other_list_div { display: block; } */
}

@media (max-width : 400px) {
    #login_close_icon { margin-left: 350px !important; }
    .change_pw_divs input { width: 45%; }

    #close_disable_user_icon { margin-left: 350px; }
    #disable_first_confirm_div { margin-left: 30px; }
    .submit_button { margin-left: -15px !important; }
    .disable_grid_divs { grid-template-columns: 20% auto !important; margin-left: 30px; }
    .disable_grid_divs div input { width: 70% !important; }

    /* .cart_num_div div { width: 20%; }
    .cart_num_div div input { width: 90% !important; } */

    .cart_num_result_div { padding : 0px; padding-top: 15px; }
    .cart_able_num_div p { width: auto; }

    #order_same_delivery_info_div { margin-left: 20px; }
    .order_title_div { padding-left: 20px; }
    .order_div_style { margin-left: 0px !important; margin-right: 0px !important; }
    .order_delivery_top_div div { margin: 0px 15px 0px 15px; }

    #coupon_list_other_div { border-left: none; border-right: none; border-top: solid 2px black; border-bottom: solid 2px black; }
    .coupon_div_style { border-left: none; border-right: none; }
    .coupon_responsive_date_div { display: block !important; }

    .coupon_responsive_grid_div { display: grid; grid-template-columns: 63px auto; }
    .coupon_responsive_grid_div div { padding : 10px 0px 10px 15px; font-size: 13px; border-bottom: solid 2px black;}
    .coupon_responsive_date_divs { padding-right: 15px; }

    #cart_list_div { margin-left: 0px; margin-right: 0px !important; }

    /* #coupon_other_div { margin-left: 20px; } */
    /* .order_div_style { margin-left: 15px !important; margin-right: 15px !important; } */
    #coupon_list_each_div { margin-left: 20px; margin-right: 20px; }
    .coupon_list_each_date_div b { width: 80%; margin-left: 10%; }
    #coupon_list_each_close_button { right: 40px; }

    #order_bill_list_div .order_delivery_top_div .order_bill_title_div { margin: 0px 0px 0px 0px !important; }
    #order_final_price_bill { margin-left: 20px !important; margin-right: 30px !important; }
    #order_save_user_info_div { margin-right: 30px; }

    #coupon_date_other_div, .coupon_limit_date_div { display: none; }
    .coupon_div_style { display: block; }
    #coupon_list_other_div { display: none; }

    #order_payment_agree_div { margin: 50px 20px 0px 20px !important; }
    #order_complate_div { margin-left: 0px; margin-right: 0px; }

    /* #order_list_origin_page { margin-left: 0px !important; margin-right: 0px !important; paddin } */

    .order_list_top_div { display: block; }
    .order_list_contents_date_div { text-align: left; }
    .order_list_detail_info_div { margin-left: 0px !important; margin-right: 0px !important; }
    #order_list_point_and_coupon_info { margin-left: 20px; }

    .order_list_bottom_div { display: block !important; }
    .order_list_price_info_and_move_div { margin-top: 20px; }

    .order_list_review_remove_complate_div { display: block; line-height: 25px; }
    .order_list_review_remove_complate_div div { text-align: left !important; }

    .mypage_qna_main_list_div { font-size: 12px; padding-left: 0px; padding-right: 0px; }

    /* .mypage_qna_other_div_2 div { margin-left: 12px; } */

    #mypage_qna_filter_list_div { padding: 0px 30px 10px 30px; }
    #mypage_qna_view_filter_div { display: block; }
    #mypage_qna_view_filter_div ul { text-align: left !important; }
    #mypage_qna_date_filter_div ul li { display : inline-block; margin-right: 30px; }

    /* #mypage_qna_search_grid_div { border-top: dotted 1px #ababab; padding: 15px 0px 10px 0px; } */
    /* input[name=search_contents] { width: 70%; } */
}


@media (max-width : 366px) {
    /* #order_delivery_host_code_input { min-width: 90% !important; } */
    /* #order_delivery_host_code_button{ margin: 5px 0px 0px 0px; min-width: 97%; } */
    #coupon_list_each_div { margin-left: 30px; margin-right: 30px; }
    /* .coupon_list_each_date_div b { width: 80%; margin-left: 10%; } */
    #coupon_list_each_close_button { right: 70px; }
    #coupon_list_each_input { width: 40%; }
    #coupon_list_each_add_div { grid-template-columns: 100px auto; text-align: center; }

    /* .mypage_qna_main_list_date_info_div { grid-template-columns: 88px auto; } */
}

@media (max-width : 370px) {
    .search_contents_grid_div { grid-template-columns: 18% auto !important; margin-left: 30px !important; }
    .search_contents_grid_div div input { width: 85% !important; }
    .search_contents_grid_div .search_email_input_div input { width: 33% !important; }

    #close_disable_user_icon { margin-left: 330px; }

    .my_like_list_thumbnail { width: 120px; height: 120px; }
    .my_like_list_detail_contents_div { grid-template-columns: 145px auto; }
    .my_like_price_and_state { margin-left: 3px !important; }

    .my_like_price_div h3 { font-size: 16px; }
    .my_like_list_disable_div { height: 185px; }
    .my_like_list_disable_div div { margin-top: 30px; }
    #order_delivery_host_code_button { min-width: 70px !important; text-align: center; padding-left: 5px; font-size: 12px; }

    .order_complate_price_grid_div { grid-template-columns: 35% auto; }
}

@media (max-width : 361px) {
}

@media (max-width : 350px) {
    #login_close_icon { margin-left: 330px !important; }
    .change_pw_divs input { width: 42.5%; }

    .my_like_list_date_div { margin-left: 20px; }

    /* .cart_num_div div { width: 20%; } */
    #cart_price_show_div .cart_price_show_grid_div div { padding-right: 10px; }

    .cart_num_div { font-size: 10px !important; padding-right: 10px; }
    .cart_num_div div input { width: 40%; }
    .cart_able_num_div p { padding-right: 5px; }

    #order_delivery_host_code_input { min-width: 60px; width: 15%; }

    .order_delivery_input_1, .order_delivery_input_2 { min-width: 170px !important; }

    input[name=coupon_add_code] { width: 50%; }
    #coupon_add_button { width: 95% !important; margin-left: 0px; margin-top: 10px; }

    #coupon_list_each_div { margin-left: 40px; margin-right: 40px; }
    #order_delivery_host_code_button { min-width: 50% !important; }

    #bank_pay_comment { display: block; margin-left: 0px !important; }
    #order_list_set_date_div { font-size: 12px !important; grid-template-columns: 75px auto !important; }


}