#modify_user_info_ul li .alert { width: 100% !important; }

#modify_other_divs h3 { padding-bottom: 30px; }
#modify_other_close { position: absolute; width: 20px; margin: -90px 0px 0px 81%; }

#search_id_and_pw_title { padding-bottom: 20px; margin-bottom: 0px;}
#search_id_and_pw_div #login_close_icon { width: 20px; position: absolute; margin: -55px 0px 0px 370px; }
/* #select_search_type_div { margin-top: 10px; } */
#select_search_type_style_div {height: 40px; line-height: 40px; }
#select_search_type_div div { cursor: pointer; font-size: 13px; }
#search_id_div { border-right: solid 1px #ababab; }

.search_contents_div_style { display: grid; grid-template-columns: 5% auto 5% !important; margin-top: 20px; }
.search_contents_grid_div { display: grid; grid-template-columns: 20% auto; margin-top: 20px !important; margin-left: 20px; font-size: 13px; }
.search_contents_grid_div input { padding: 3px; width: 95%; }

.search_email_input_div input { width: 37% !important; }

.search_submit_div { margin-top: 40px; padding-bottom: 30px; font-size: 13px !important; }
.search_submit_div input { width: 100%; cursor: pointer; border: solid 1px black; padding: 5px 0px 5px 0px; background-color: black; color : white }
#search_id_result_div { margin-top: 50px; font-size: 15px; }

#search_other_div { margin-top: 50px; padding-top: 20px; }
.search_pw_title_style h3 { 
    border-bottom: solid 1px #ababab; padding-top: 10px; padding-bottom: 25px; font-size: 15px;
    font-family: 'TmoneyRoundWindExtraBold';
}
#search_pw_email_contents_div { line-height: 10px; margin-top: 30px; padding-bottom: 20px;}
#search_pw_comfirm_div { margin-top: 40px; }
#search_pw_comfirm_div form input[name=confirm_number] { margin-left: -40px;}
#email_confirm_button { background-color: black; color: white; padding : 2px 5px 2px 5px; position: absolute; margin : 0px 0px 0px 10px; }

.change_pw_divs { display: grid; grid-template-columns: 30% auto; margin-left: 20px; margin-top: 25px; font-size: 13px;}
.change_pw_divs input { padding : 3px; margin-top : -2px; margin-left: 20px; width: 50%; position: absolute; }
#change_password_button { background-color: black; color: white; padding : 3px; height: 30px; width: 100%; margin-top: 35px; margin-bottom: 20px; }

#change_pw_result_div h4 { margin-top: 40px; padding-bottom: 40px; }
#change_pw_other_div { font-size: 14px; }

#close_disable_user_icon { position : absolute; width: 20px; margin: -70px 0px 0px 370px; }
#disable_div h3 { padding-bottom: 30px; margin-bottom: 0px; }
#disable_index_div { display: grid; grid-template-columns: 33% 34% 33%; font-size: 13px; }
#disable_index_div div { padding: 15px 0px 15px 0px; border-bottom: solid 1px #ababab; }
#disable_select_index { color: #03506f; border-bottom: solid 2px #03506f !important; font-weight: bold; cursor : default }

#disable_first_confirm_div { margin: 15px 0px 0px 20px; }
#disable_contents_div { margin-top: 30px; }
.disable_grid_divs { display : grid; grid-template-columns: 25% auto; }
.disable_grid_divs div { margin-bottom: 20px; font-size: 14px; line-height: 30px; }
.disable_grid_divs div input { padding: 3px; width: 80%; }

.submit_button { background-color: black; color: white; border: none; width: 100%; padding: 5px 0px 5px 0px; margin-left: -10px !important; margin-top: 20px; cursor: pointer; }

#disable_second_confirm_div { margin-top: 40px; }
#disable_second_submit_div { margin-top: 45px; }
#disable_second_submit_div input[type=submit], 
#disable_last_confirm_div input[type=submit]
{ background-color: black; color: white; border : none; width: 100%; padding : 3px 0px 3px 0px; margin-top: 30px; }
#disable_last_confirm_div input { padding: 10px !important; margin-top: 50px !important; }

.my_like_list_divs { border: solid 1px black; border-left: none; border-right: none; }
.my_like_list_check_and_number_div { padding: 10px; line-height: 20px; }
.my_like_list_check_and_number_div p { display: inline-block; margin-top: 0px; margin-bottom: 0px; }
.my_like_list_date_div { margin-left: 60px; }

.my_like_list_detail_contents_div { display: grid; grid-template-columns: 220px auto; }
.my_like_list_grid_contents_div { padding: 13px; }
.my_like_list_thumbnail { width: 190px; height: 150px; background-size: cover; background-repeat: no-repeat; background-position-y: 50%; }
.my_like_list_info_div { padding: 10px; padding-top: 15px; padding-left: 15px; }
.my_like_list_name_div, .cart_name_div { margin-top: 10px; display: inline-block; width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-top: 5px;
    white-space: normal; line-height: 1.2; height: 2.4em; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.my_like_price_and_state { margin-left: 10px !important; margin-top: 0px; }
.my_like_price_and_state .my_like_stock_div { margin-top: -10px; }

.my_like_list_each_remove_button { margin-left: 5%; }
.my_like_list_each_remove_button input { background-color: white; color: black; padding: 3px; font-size: 12px; border-radius: 5px; }

.my_like_list_disable_div { position: absolute; width: 70%; height: 225px; background-color: black; color: white; opacity: 0.8; }
.my_like_list_disable_div h2 { margin-top: 30px; }
.my_like_list_disable_div div { margin-top: 50px; }
.my_like_list_disable_div div p input { width: 50%; background-color: white; font-weight: bold; padding: 5px; }

#like_list_other_div { font-size: 14px; margin: 10px; line-height: 30px; }
.select_like_list { background-color: black; color: white; }
#like_list_select_remove_div { float: right; margin-right: 15px; }

#my_page_title_div { line-height: 35px; padding: 40px 0px 40px 0px; text-align: center; }
#my_page_title_div img { width: 30px; position: absolute; margin-left: 0px; }
#my_page_title_div b { font-size: 18px; margin: 0px 0px 0px 50px; }

.cart_goods_list_title { padding-left: 15px; margin: 0px !important; padding-top: 20px; padding-bottom: 20px; border-top: solid 2px black; border-bottom: solid 2px black; }
#cart_contents_div {  padding-top: 20px; padding-bottom: 3px; background-color: #f4f4f4; }

.cart_contents_divs { margin-bottom: 20px; background-color: white; }
.cart_grid_divs { display: grid; grid-template-columns: 145px auto; }
.cart_info_div { padding : 7.5px 0px 7.5px 15px }
.cart_thumbnail_div div { width: 120px; height: 120px; background-size: contain; background-position-x: center; margin: 10px; background-repeat: no-repeat;}

.cart_name_and_num_div { padding: 15px 0px 0px 15px; display: grid; grid-template-columns: 45% auto; }
.cart_name_div { font-size: 16.5px; margin-right: 15px; margin-top: 0px;}
.cart_price_div { margin-top: 5px !important; }

.cart_num_div div { float: left; width: 28%; }
.cart_num_div div input { width: 70%; text-align: center; padding: 4px 0px 2.5px 0px; }
.cart_num_div .cart_num_button_div { border: solid 1px #ababab; border-radius: 5px; cursor: pointer; margin-left: 10px; margin-right: 10px; }
/* .cart_able_num_div { width: 100%; } */

.cart_discount_price_div { margin-top: 10px; }
.cart_result_price_div { padding-right: 25px; }
.cart_able_num_div p { margin-top: 35px; }

/* #cart_price_show_div { padding-left: 20px; } */
#cart_price_show_div .cart_price_show_grid_div { display: grid; grid-template-columns: 120px auto; }

.cart_price_show_grid_div div { padding-left: 20px; }
.cart_price_result_div { padding-right: 30px; }
#final_result_price { background-color: black; color: white; }

@media (max-width : 880px) {
    .my_like_list_disable_div { width: 100%; }
}

@media (max-width : 660px) {
    .cart_name_and_num_div { display: block; }
    .cart_price_div { margin-top: 5px !important; }
    /* .cart_able_num_div { display: inline-block; } */
    .cart_thumbnail_div div { height: 90%; background-position-y: center; }

    .cart_name_and_num_div { padding: 0px; }
    .cart_name_and_price_div { padding: 20px; }

    .cart_num_result_div { margin-top: 10px; border-top: solid 1px #ababab; padding: 15px; padding-top: 20px; padding-bottom: 5px; }
    .cart_able_num_div p { width: 100%; display: inline-block; margin-top: 10px; padding-left: 12px; }
}

@media (max-width : 450px) {
    /* .cart_num_result_div { padding-left: 0px; padding-right: 0px; } */

    .cart_num_div .cart_num_button_div { margin-left: 15px; margin-right: 15px !important; }
    .cart_num_div div { width: 23%; }
    .cart_num_div div input { width: 80% !important; }
}

@media (max-width : 424px) {
    .my_like_list_thumbnail { width: 150px; }
    .my_like_list_detail_contents_div { grid-template-columns: 170px auto; }
    .my_like_list_grid_contents_div { padding: 8px; } 
    .my_like_price_and_state { margin-top: -5px; }
    .my_like_list_name_div { margin-top: 0px; }

    .my_like_list_disable_div { width: 100%; height: 215px;}
    .my_like_stock_div { font-size: 11px; }
}

@media (max-width : 400px) {
    #login_close_icon { margin-left: 350px !important; }
    .change_pw_divs input { width: 45%; }

    #close_disable_user_icon { margin-left: 350px; }
    #disable_first_confirm_div { margin-left: 30px; }
    .submit_button { margin-left: -15px !important; }
    .disable_grid_divs { grid-template-columns: 20% auto !important; margin-left: 30px; }
    .disable_grid_divs div input { width: 70% !important; }

    .cart_num_div div { width: 20%; }
    .cart_num_div div input { width: 90% !important; }

    .cart_num_result_div { padding : 0px; padding-top: 15px; }
    .cart_able_num_div p { width: auto; }

}

@media (max-width : 370px) {
    .search_contents_grid_div { grid-template-columns: 18% auto !important; margin-left: 30px !important; }
    .search_contents_grid_div div input { width: 85% !important; }
    .search_contents_grid_div .search_email_input_div input { width: 33% !important; }

    #close_disable_user_icon { margin-left: 330px; }

    .my_like_list_thumbnail { width: 120px; height: 120px; }
    .my_like_list_detail_contents_div { grid-template-columns: 145px auto; }
    .my_like_price_and_state { margin-left: 3px !important; }

    .my_like_price_div h3 { font-size: 16px; }
    .my_like_list_disable_div { height: 185px; }
    .my_like_list_disable_div div { margin-top: 30px; }
}

@media (max-width : 350px) {
    #login_close_icon { margin-left: 330px !important; }
    .change_pw_divs input { width: 42.5%; }

    .my_like_list_date_div { margin-left: 20px; }

    .cart_num_div div { width: 20%; }

}