body { cursor: default; }

/* 왼쪽 정렬 */
.aLeft { text-align: left; }

/* 가운데 정렬 */
.aCenter { text-align: center !important; }

/* 오른쪽 정렬 */
.aRight { text-align: right; }

.absolute {
  position: absolute;
}

/* display 제어 */
.display_inline { display : inline } 
.display_block { display: block !important; }
.display_none { display: none !important; } /* 안보이기 */

/* float 제어 */
.float_left { float: left; }
.float_right { float: right; }

/* 글씨 컬러 */
.black { color: black; }
.gray { color: #ababab; }
.white { color : white }
.red { color : #fd3a69 }
.orange { color : orange !important }
.select_color, .custom_color_1 { color : #52BFFF !important }
.custom_color_2 { color : #e05297; }

/* 글씨 굵게 */
.bold { font-weight: bold; }

/* 글씨 크기 */
.font_15 { font-size: 15px; }
.font_14 { font-size: 14px; }
.font_13 { font-size: 13px; }
.font_12 { font-size: 12px; }
.font_11 { font-size: 11px; }
.font_10 { font-size: 10px; }

/* li 포인트 없애기 */
.list_none { list-style: none; }

/* textarea 고정하기 */
.no_resize { resize: none; }

/* 마우스커서 모음 */
.pointer { cursor: pointer; } /* 포인터 */
.default { cursor: default; } /* 디폴트 */

/* 밑줄 삭제 */
.remove_underLine { text-decoration: none; } 

/* 체크박스 디자인 1 */
input[type='checkbox'].check_custom_1 {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  input[type='checkbox'].check_custom_1 ~ .check_toggle_1 {
    width: 1rem;
    height: 1rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #969696;
    border-radius: 50%;
    cursor: pointer;
  }

  input[type='checkbox'].check_custom_1:hover ~ .check_toggle_1 {
    border-color: #4a4a4a;
  }
  
  input[type='checkbox'].check_custom_1:focus ~ .check_toggle_1 {
    border-color: #b0d5ff;
    box-shadow: 0 0 0 2px rgba(23, 133, 255, 0.25);
  }

  input[type='checkbox'].check_custom_1:checked ~ .check_toggle_1 {
    border-color: #1785ff;
    background: #1785ff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=) center no-repeat;
    background-size: 75%;
  }

/* */

/* 아이콘 */
.check_icon { width: 20px; margin: 5px 0px 0px 15px; }

/* alert */
.alert { 
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0px 0px 10px;
    width: 70%;
    height: 20px;
}
.red_alert { color : #af2d2d; border-color: #af2d2d; }


/* 마이페이지 제목 */
.my_page_title { padding : 20px 0px 20px 0px; border-bottom: solid 1px #ababab; text-align: center;}

/* border 모음 */
.border { border: solid 1px #ababab; } /* 전체 */
.border_top { border-top: solid 1px #ababab; } /* 위 */
.border_right { border-right: solid 1px #ababab; } /* 오른쪽 */
.border_bottom { border-bottom: solid 1px #ababab; } /* 아래 */
.border_left { border-left: solid 1px #ababab; } /* 왼쪽 */

/* border_black */
.border_black { border: solid 1px black !important; }
.border_right_black { border-right: solid 1px black !important; }
.border_top_black { border-top: solid 1px black !important; }
.border_left_black { border-left: solid 1px black !important; }
.border_bottom_black { border-bottom: solid 1px black !important; }

/* border style */
.border_style_dotted { border-style: dotted; }

/* border_dotted */
.border_top_dotted { border-top: dotted 1px #ababab !important; }
.border_bottom_dotted { border-bottom: dotted 1px #ababab !important; }
.border_right_dotted { border-right: dotted 1px #ababab !important; }

/* border width */
.border_width_2 { border-width: 2px !important; }

/* border 없애기 */
.border_none { border: none !important; }
.border_none_right { border-right: solid 0px !important; }

/* border 크기 조정 */
.border_size_2 { border-width: 2px; }

/* 현재 선택 페이지 */
#now_page { font-weight: bold; color: #16a596 !important; font-family: 'Recipekorea'; }

/* 페이지 이동 u */
.page_move { text-decoration: none; cursor: pointer; }

/* margin-top 크기 */
.marginTop_5 { margin-top: 5px !important; }
.marginTop_10 { margin-top: 10px !important; }
.marginTop_15 { margin-top: 15px !important; }
.marginTop_20 { margin-top: 20px !important; }
.marginTop_30 { margin-top: 30px !important; }
.marginTop_40 { margin-top: 40px !important; }
.marginTop_80 { margin-top: 60px !important; }

/* margin-bottom 크기 */
.marginBottom_20 { margin-bottom: 20px !important; }
.marginBottom_60 { margin-bottom: 60px !important; }

/* margin-left 크기 */
.marginLeft_5 { margin-left: 5px !important; }
.marginLeft_10 { margin-left: 10px !important; }
.marginLeft_20 { margin-left: 20px !important; }
.marginLeft_30 { margin-left: 30px !important; }
.marginLeft_40 { margin-left: 40px !important; }
.marginLeft_50 { margin-left: 50px !important; }

/* padding */
.padding_3 { padding : 3px }
.padding_5 { padding : 5px }

/* grid 50% 50% */
.grid_half { display: grid; grid-template-columns: 50% 50%; }


/* 폰트 스타일 지정 */
@font-face {
  font-family: 'TmoneyRoundWindExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KOTRA_BOLD-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Recipekorea';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'paybooc-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 폰트 스타일 */
.t_money_font { font-family: 'TmoneyRoundWindExtraBold'; }
.kotra_bold_font { font-family: 'KOTRA_BOLD-Bold'; }
.recipe_korea { font-family: 'Recipekorea'; }
.paybook_bold { font-family: 'paybooc-Bold'; }


/* 글자수 제한하기 */

/* 한 줄 자르기 */ 
.cut_one_line {
  display: inline-block; width: -webkit-fill-available; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; 
}

.cut_multi_line {
  /* 여러 줄 자르기 추가 스타일 */ 

  display: inline-block; width: -webkit-fill-available; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; 
  white-space: normal; line-height: 1.2; height: 2.5em; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
}

.search_line { background-color: #ff8e71; padding : 5px; color: white; font-family: 'TmoneyRoundWindExtraBold'; }

/* button 스타일 */
.button_style_1 { background-color: #35c5f0; border: none; color: white; font-weight: bold; font-size: 13px; cursor: pointer; border-radius: 5px; }

.react-datepicker__tab-loop { float: left !important; }

/* 페이징 현재 페이지 */
#select_page { font-size: 18px; font-weight: bold; text-decoration: underline; color: #35c5f0; cursor: default !important; }

/* 별점 컬러 */
.star_color { color : rgb(253, 184, 39) }

.inline_block { display: inline-block !important; }