.aCenter {
    text-align: center;
}

.absolute {
  position: absolute;
}

/* 글씨 컬러 */
.black { color: black; }
.gray { color: #ababab; }
.white { color : white }

/* 글씨 굵게 */
.bold { font-weight: bold; }

/* li 포인트 없애기 */
.list_none { list-style: none; }

/* textarea 고정하기 */
.no_resize { resize: none; }

/* 마우스커서 모음 */
.pointer { cursor: pointer; } /* 포인터 */

/* 밑줄 삭제 */
.remove_underLine { text-decoration: none; } 

/* 체크박스 디자인 1 */
input[type='checkbox'].check_custom_1 {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  input[type='checkbox'].check_custom_1 ~ .check_toggle_1 {
    width: 1rem;
    height: 1rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #969696;
    border-radius: 50%;
    cursor: pointer;
  }

  input[type='checkbox'].check_custom_1:hover ~ .check_toggle_1 {
    border-color: #4a4a4a;
  }
  
  input[type='checkbox'].check_custom_1:focus ~ .check_toggle_1 {
    border-color: #b0d5ff;
    box-shadow: 0 0 0 2px rgba(23, 133, 255, 0.25);
  }

  input[type='checkbox'].check_custom_1:checked ~ .check_toggle_1 {
    border-color: #1785ff;
    background: #1785ff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=) center no-repeat;
    background-size: 75%;
  }

/* */

/* 아이콘 */
.check_icon { width: 20px; margin: 5px 0px 0px 15px; }

/* alert */
.alert { 
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0px 0px 10px;
    width: 70%;
    height: 20px;
}
.red_alert { color : #af2d2d; border-color: #af2d2d; }